<dd>
  <a ng-click="isOpen = !isOpen" class="nm-accordion__link" ng-class="{ 'nm-accordion--active': isOpen }"  accordion-transclude="heading">{{heading}}</a>
  <div class="nm-accordion__content" ng-class="{ active: isOpen }" ng-transclude></div>
</dd>
