<header class="styleguide-header">
    <div class="row">
        <div class="column small-12 medium-9 large-centered medium-centered">
            <div class="neriumLogo"><img src="img/logo.png" alt="Nerium International" title="Nerium International"/></div> <!-- Interchange here to swap logo out to responsive -->
        </div>
    </div>
    <div class="row">
        <div class="column small-12 large-12">
            <h1 class="styleGuideHeading">Elements &amp; Patterns - Rough Draft</h1>
            <h3 class="styleGuideHeading">Alerts &amp; Notifications</h3>
        </div>
    </div>
</header>

<section id="elements" data-magellan-destination="elements"><a name="elements"></a>
    <div class="row">
        <div class="column small-12 large-12">
            <h1 class="styleGuideHeading">Elements &amp; Patterns</h1>
        </div>
    </div>
</section>
    
<section id="alertBoxes">
    <div class="row">
        <div class="column small-12 large-12">
            <h2 class="styleGuideHeading">Alert Boxes &amp; Growls</h2>
        </div>
    </div>
    <div class="row">
        <div class="column small-12 large-12">
            <div class="nm-alert-box">
                <i class="nm-alert-box__icon fa fa-info fa-2x"></i>
                This is a standard alert (div.alert-box.radius).
                <a class="nm-alert-box__close" href="">&times;</a>
            </div>
            <div class="nm-alert-box nm-alert-box--secondary">
                <i class="nm-alert-box__icon fa fa-info fa-2x"></i>
                This is a secondary alert (div.alert-box.secondary).
                <a class="nm-alert-box__close" href="">&times;</a>
            </div>
            <div class="nm-alert-box nm-alert-box--success">
                <i class="nm-alert-box__icon fa fa-check fa-2x"></i>
                This is a success alert (div.alert-box.success).
                <a class="nm-alert-box__close" href="">&times;</a>
            </div>
            <div class="nm-alert-box nm-alert-box--warning">
                <i class="nm-alert-box__icon fa fa-exclamation-triangle fa-2x"></i>
                This is a warning alert that is rounded.
                <a href="#" class="nm-alert-box__close">&times;</a>
            </div>
            <div class="nm-alert-box nm-alert-box--alert">
                <i class="nm-alert-box__icon fa fa-exclamation-circle fa-2x"></i>
                This is an alert (div.alert-box.alert.round).
                <a class="nm-alert-box__close" href="">&times;</a>
            </div>
            <hr/>
        </div>
    </div>
</section>

<section id="ppanels">
    <div class="row">
        <div class="column small-12 large-12">
            <h2 class="styleGuideHeading">Call-Out Panels</h2>
        </div>
    </div>
    <div class="row">
        <div class="column small-12 large-12">
            <div class="row">
                <div class="column small-12 large-6">
                    <div class="nm-panel">
                        <h5>This is a regular panel.</h5>
                        <p>It has an easy to override visual style, and is appropriately subdued.</p>
                    </div>
                </div>
                <div class="column small-12 large-6">
                    <div class="nm-panel nm-panel--callout nm-panel--radius">
                        <h5>This is a radius callout panel.</h5>
                        <p>It's a little ostentatious, but useful for important content.</p>
                    </div>
                </div>
            </div>
            <hr/>
        </div>
    </div>
</section>
<section id="errors">
    <div class="row">
        <div class="column small-12 large-12">
            <h2 class="styleGuideHeading">Error Messaging</h2>
            <p>Error messages should be <a href="http://uxmas.com/2012/the-4-hs-of-writing-error-messages">Human, Helpful, Humorous, and Humble</a>.  Simple, clear language about what went wrong can make these error messages more friendly to users.  They also need to be clearly visible; no one should have to hunt to figure out what went wrong.</p>
        </div>
    </div>
    <div class="row">
        <div class="column small-12 large-12">
            <form data-abide>
                <fieldset>
                    <legend>Example Form:</legend>
                    <div class="row">
                        <div class="large-12 columns">
                            <p>To display the error, type numbers or punctuation rather than letters.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <label for="name">First Name <small><sup class="fa fa-asterisk"></sup></small></label>
                            <input type="text" name="name" aria-label="Name" placeholder="First Name" required pattern="[a-zA-Z]+" class="radius">
                            <small class="error"><i class="fa fa-exclamation-circle"></i> Whoops!  We need your name here.</small>
                        </div>
                    </div>
                    
                </fieldset>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="column small-12 large-12">
            <hr/>
        </div>
    </div>
</section>
<section id="modals">
    <div class="row">
        <div class="column small-12 large-12">
            <h2 class="styleGuideHeading">Modal Windows</h2>
            <p>These are HTML 5 modals, which are constructed with HTML 5 <em>data-</em> attributes and simple <i class="fa fa-angle-left"></i>div<i class="fa fa-angle-right"></i> elements.  A matching HTML5 <em>data-</em> attribute is placed on a button, link, or really any appropriate element.  Upon user interaction, Foundation recognizes these attributes and provides an appealing animation as it reveals the hidden <i class="fa fa-angle-left"></i>div<i class="fa fa-angle-right"></i> element.</p>
        </div>
    </div>
    <div class="row">
        <div class="column small-12 large-12">
            
            <button data-reveal-id="cart1" class="button button-highlight button-rounded button-raised"><i class="fa fa-shopping-cart"></i> Add to Basket</button>
                
            <div id="cart1" class="reveal-modal cartConfirmation" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
                <div class="row">
                    <div class="column small-4 large-4">
                        <img src="101_md.png" alt=""/>
                    </div>
                    <div class="column small-8 large-8 end">
                        <h6 class="modalTitle" id="modalTitle"><strong>NeriumAD</strong> <span>Age-Defying Treatment</span> <span class="ending">has successfully been added to your basket.</span></h6>
                        <p class="upsell">Click <a>here</a> to add NeriumFirm for a special low price of $60.00.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="column small-12">
                        <a href="" class="button button-block button-rounded button-primary">Continue Shopping</a>
                    </div>
                    <div class="column small-12">&nbsp;</div>
                    <div class="column small-12">
                        <button href="" class="button button-block button-rounded button-primary">Checkout</button>
                    </div>
                </div>
                <a class="close-reveal-modal" aria-label="Close">&#215;</a>
            </div>
            
        </div>
        <div class="row">
            <div class="column small-12 large-12">
                <hr/>
            </div>
        </div>
    </div>
</section>