<section class="styleguide-header">
    <div class="row">
        <div class="column small-12 medium-9 large-centered medium-centered">
            <h1 class="styleguide-header__heading">Brand Standards</h1>
        </div>
    </div>
    <div class="row">
        <div class="column small-12 large-12">
            <h2 class="styleGuideHeading">Foreward</h2>
            <p>Brief statement regarding branding in digital format for WEB, WEB APPS, and MOBILE APPS. This is not intended to replace the main brand standards document, but merely present it in one place along with these styles for cohesiveness in web, web app, and mobile app formats.</p><p>This probably should include a statement that this only covers digital formats intended for the website, web apps, and mobile apps and they should see the brand standards document if they need print.  Since this is intended to be an internal style guide, a link to the official, internal brand standards document could be provided or simple instructions for obtaining a copy would also suffice.</p>
        </div>
    </div>
</section>

<section id="color" data-magellan-destination="color"><a name="color"></a>
    <div class="row">
        <div class="column small-12 large-12">
            <h1 class="styleGuideHeading">Color</h1>
        </div>
    </div>
    <div class="row">
        <div class="column small-12 large-12">
            <h2 class="styleGuideHeading">Regarding Color</h2>
            <p>Brief statement regarding our color pallette, especially any new colors that are determined.  Usage is below the pallette, where a DO and DO NOT section can also be added.</p>
        </div>
    </div>
    <div class="row">
        <div class="column small-12 large-12">
            <h2 class="styleGuideHeading">The Nerium Palette</h2>
        </div>
    </div>
    <div class="row">
        <div class="column small-6 medium-4 large-3">
            <table cellpadding="0" cellspacing="0" class="colorCard">
                <tr>
                    <th colspan="2"><div class="neriumBlue colorChip"><p>Nerium Blue</p></div></th>
                </tr>
                <tr>
                    <td>HEX</td>
                    <td>#53ABAE</td>
                </tr>
                <tr>
                    <td>RGB</td>
                    <td>(83, 171, 174)</td>
                </tr>
                <tr>
                    <td>CMYK</td>
                    <td>133, 4, 0, 81</td>
                </tr>
            </table>
        </div>
        <div class="column small-6 medium-4 large-3 end">
            <table cellpadding="0" cellspacing="0" class="colorCard">
                <tr>
                    <th colspan="2"><div class="neriumGrey colorChip"><p>Nerium Grey</p></div></th>
                </tr>
                <tr>
                    <td>HEX</td>
                    <td>#B8B9BC</td>
                </tr>
                <tr>
                    <td>RGB</td>
                    <td>(184, 185, 188)</td>
                </tr>
                <tr>
                    <td>CMYK</td>
                    <td>5, 4, 0, 67</td>
                </tr>
            </table>
        </div>
        
    </div>
    <div class="row">
        <div class="column small-12 large-12">
            <h2 class="styleGuideHeading">Accent Color Palette</h2>
        </div>
    </div>
    <div class="row">
        <div class="column small-6 medium-4 large-3">
            <table cellpadding="0" cellspacing="0" class="colorCard">
                <tr>
                    <th colspan="2"><div class="appleGreen colorChip"><p>Apple Green</p></div></th>
                </tr>
                <tr>
                    <td>HEX</td>
                    <td>#8DC63F</td>
                </tr>
                <tr>
                    <td>RGB</td>
                    <td>(141, 198, 63)</td>
                </tr>
                <tr>
                    <td>CMYK</td>
                    <td>73,0, 174, 57</td>
                </tr>
            </table>
        </div>
        <div class="column small-6 medium-4 large-3">
            <table cellpadding="0" cellspacing="0" class="colorCard">
                <tr>
                    <th colspan="2"><div class="happinessOrange colorChip"><p>Happiness Orange</p></div></th>
                </tr>
                <tr>
                    <td>HEX</td>
                    <td>#E68F1A</td>
                </tr>
                <tr>
                    <td>RGB</td>
                    <td>(230, 143, 26)</td>
                </tr>
                <tr>
                    <td>CMYK</td>
                    <td>0, 96, 226, 25</td>
                </tr>
            </table>
        </div>
        <div class="column small-6 medium-4 large-3 end">
            <table cellpadding="0" cellspacing="0" class="colorCard">
                <tr>
                    <th colspan="2"><div class="darkGrey colorChip"><p>Dark Grey</p></div></th>
                </tr>
                <tr>
                    <td>HEX</td>
                    <td>#565758</td>
                </tr>
                <tr>
                    <td>RGB</td>
                    <td>(86, 87, 88)</td>
                </tr>
                <tr>
                    <td>CMYK</td>
                    <td>6, 3, 0, 167</td>
                </tr>
            </table>
        </div>
        
    </div>
    
    
    <div class="row">
        <div class="column small-12 large-12">
            <h2 class="styleGuideHeading">Background Color Palette</h2>
        </div>
    </div>
    <div class="row">
        <div class="column small-6 medium-4 large-3">
            <table cellpadding="0" cellspacing="0" class="colorCard">
                <tr>
                    <th colspan="2"><div class="lightGrey colorChip"><p>Light Grey</p></div></th>
                </tr>
                <tr>
                    <td>HEX</td>
                    <td>#F0F2F3</td>
                </tr>
                <tr>
                    <td>RGB</td>
                    <td>(240, 242, 243)</td>
                </tr>
                <tr>
                    <td>CMYK</td>
                    <td>3, 1, 0, 12</td>
                </tr>
            </table>
        </div>
        <div class="column small-6 medium-4 large-3">
            <table cellpadding="0" cellspacing="0" class="colorCard">
                <tr>
                    <th colspan="2"><div class="skyBlue colorChip"><p>Sky Blue</p></div></th>
                </tr>
                <tr>
                    <td>HEX</td>
                    <td>#EBF4F5</td>
                </tr>
                <tr>
                    <td>RGB</td>
                    <td>(235, 244, 245)</td>
                </tr>
                <tr>
                    <td>CMYK</td>
                    <td>10, 1, 0, 10</td>
                </tr>
            </table>
        </div>
        <div class="column small-6 medium-4 large-3">
            <table cellpadding="0" cellspacing="0" class="colorCard">
                <tr>
                    <th colspan="2"><div class="lightGreen colorChip"><p>Light Green</p></div></th>
                </tr>
                <tr>
                    <td>HEX</td>
                    <td>#F3F8ED</td>
                </tr>
                <tr>
                    <td>RGB</td>
                    <td>(243, 248, 237)</td>
                </tr>
                <tr>
                    <td>CMYK</td>
                    <td>5, 0, 11, 7</td>
                </tr>
            </table>
        </div>
        <div class="column small-6 medium-4 large-3 end">
            <table cellpadding="0" cellspacing="0" class="colorCard">
                <tr>
                    <th colspan="2"><div class="lightOrange colorChip"><p>Light Orange</p></div></th>
                </tr>
                <tr>
                    <td>HEX</td>
                    <td>#FCF4E8</td>
                </tr>
                <tr>
                    <td>RGB</td>
                    <td>(252, 244, 232)</td>
                </tr>
                <tr>
                    <td>CMYK</td>
                    <td>0, 8, 20, 3</td>
                </tr>
            </table>
        </div>
        
    </div>
        <div class="row">
        <div class="column small-12 large-12">
            <h2 class="styleGuideHeading">Darker Color Variations</h2>
        </div>
    </div>
    <div class="row">
        <div class="column small-6 medium-4 large-3">
            <table cellpadding="0" cellspacing="0" class="colorCard">
                <tr>
                    <th colspan="2"><div class="NeriumBlue10 colorChip"><p>Nerium Blue, 10</p></div></th>
                </tr>
                <tr>
                    <td>HEX</td>
                    <td>#41888B</td>
                </tr>
                <tr>
                    <td>RGB</td>
                    <td>(65, 136, 139)</td>
                </tr>
                <tr>
                    <td>CMYK</td>
                    <td>136, 6, 0, 116</td>
                </tr>
            </table>
        </div>
        <div class="column small-6 medium-4 large-3">
            <table cellpadding="0" cellspacing="0" class="colorCard">
                <tr>
                    <th colspan="2"><div class="neriumGrey10 colorChip"><p>Nerium Grey, 10</p></div></th>
                </tr>
                <tr>
                    <td>HEX</td>
                    <td>#9B9DA1</td>
                </tr>
                <tr>
                    <td>RGB</td>
                    <td>(155, 157, 161)</td>
                </tr>
                <tr>
                    <td>CMYK</td>
                    <td>10, 6, 0, 94</td>
                </tr>
            </table>
        </div>
        <div class="column small-6 medium-4 large-3">
            <table cellpadding="0" cellspacing="0" class="colorCard">
                <tr>
                    <th colspan="2"><div class="AppleGreen10 colorChip"><p>Apple Green, 10</p></div></th>
                </tr>
                <tr>
                    <td>HEX</td>
                    <td>#71A130</td>
                </tr>
                <tr>
                    <td>RGB</td>
                    <td>(113, 161, 48)</td>
                </tr>
                <tr>
                    <td>CMYK</td>
                    <td>76, 0, 179, 94</td>
                </tr>
            </table>
        </div>
        <div class="column small-6 medium-4 large-3">
            <table cellpadding="0" cellspacing="0" class="colorCard">
                <tr>
                    <th colspan="2"><div class="HappinessOrange10 colorChip"><p>Happiness Orange, 10</p></div></th>
                </tr>
                <tr>
                    <td>HEX</td>
                    <td>#B87214</td>
                </tr>
                <tr>
                    <td>RGB</td>
                    <td>(184, 114, 20)</td>
                </tr>
                <tr>
                    <td>CMYK</td>
                    <td>0, 97, 227, 71</td>
                </tr>
            </table>
        </div>
        <div class="column small-6 medium-4 large-3 end">
            <table cellpadding="0" cellspacing="0" class="colorCard">
                <tr>
                    <th colspan="2"><div class="SkyBlue10 colorChip"><p>Sky Blue, 10</p></div></th>
                </tr>
                <tr>
                    <td>HEX</td>
                    <td>#C9E1E4</td>
                </tr>
                <tr>
                    <td>RGB</td>
                    <td>(201, 225, 228)</td>
                </tr>
                <tr>
                    <td>CMYK</td>
                    <td>30, 3, 0, 27</td>
                </tr>
            </table>
        </div>
    </div>
        <div class="row">
        <div class="column small-12 large-12">
            <h2 class="styleGuideHeading">Lighter Color Variations</h2>
        </div>
    </div>
    <div class="row">
        <div class="column small-6 medium-4 large-3">
            <table cellpadding="0" cellspacing="0" class="colorCard">
                <tr>
                    <th colspan="2"><div class="NeriumBlue30 colorChip"><p>Nerium Blue, 30</p></div></th>
                </tr>
                <tr>
                    <td>HEX</td>
                    <td>#BDDFE0</td>
                </tr>
                <tr>
                    <td>RGB</td>
                    <td>(189, 223, 224)</td>
                </tr>
                <tr>
                    <td>CMYK</td>
                    <td>40, 1, 0, 31</td>
                </tr>
            </table>
        </div>
        <div class="column small-6 medium-4 large-3">
            <table cellpadding="0" cellspacing="0" class="colorCard">
                <tr>
                    <th colspan="2"><div class="AppleGreen30 colorChip"><p>Apple Green, 30</p></div></th>
                </tr>
                <tr>
                    <td>HEX</td>
                    <td>#D5EAB8</td>
                </tr>
                <tr>
                    <td>RGB</td>
                    <td>(213, 234, 184)</td>
                </tr>
                <tr>
                    <td>CMYK</td>
                    <td>23, 0, 54, 21</td>
                </tr>
            </table>
        </div>
        <div class="column small-6 medium-4 large-3 end">
            <table cellpadding="0" cellspacing="0" class="colorCard">
                <tr>
                    <th colspan="2"><div class="neriumGrey25 colorChip"><p>Nerium Grey, 25</p></div></th>
                </tr>
                <tr>
                    <td>HEX</td>
                    <td>#F7F8F8</td>
                </tr>
                <tr>
                    <td>RGB</td>
                    <td>(247, 248, 248)</td>
                </tr>
                <tr>
                    <td>CMYK</td>
                    <td>1, 0, 0, 7</td>
                </tr>
            </table>
        </div>
        </div>
        <div class="row">
        <div class="column small-12 large-12">
            <h2 class="styleGuideHeading">Alternate Colors</h2>
        </div>
    </div>
    <div class="row">
        <div class="column small-6 medium-4 large-3">
            <table cellpadding="0" cellspacing="0" class="colorCard">
                <tr>
                    <th colspan="2"><div class="LightBlue colorChip"><p>Light Blue</p></div></th>
                </tr>
                <tr>
                    <td>HEX</td>
                    <td>#BAE8ED</td>
                </tr>
                <tr>
                    <td>RGB</td>
                    <td>(186, 232, 237)</td>
                </tr>
                <tr>
                    <td>CMYK</td>
                    <td>55, 5, 0, 18</td>
                </tr>
            </table>
        </div>
        <div class="column small-6 medium-4 large-3">
            <table cellpadding="0" cellspacing="0" class="colorCard">
                <tr>
                    <th colspan="2"><div class="LightBlueDarken10 colorChip"><p>Light Blue, Darken 10</p></div></th>
                </tr>
                <tr>
                    <td>HEX</td>
                    <td>#8ED9E1</td>
                </tr>
                <tr>
                    <td>RGB</td>
                    <td>(142, 217, 225)</td>
                </tr>
                <tr>
                    <td>CMYK</td>
                    <td>94, 9, 0, 30</td>
                </tr>
            </table>
        </div>
        <div class="column small-6 medium-4 large-3 end">
            <table cellpadding="0" cellspacing="0" class="colorCard">
                <tr>
                    <th colspan="2"><div class="WhiteDarken10 colorChip"><p>White, Darken 10</p></div></th>
                </tr>
                <tr>
                    <td>HEX</td>
                    <td>#E6E6E6</td>
                </tr>
                <tr>
                    <td>RGB</td>
                    <td>(230, 230, 230)</td>
                </tr>
                <tr>
                    <td>CMYK</td>
                    <td>0, 0, 0, 25</td>
                </tr>
            </table>
        </div>

    </div>
    <div class="row">
        <div class="column small-12 large-12">
            <h2 class="styleGuideHeading">Error Color</h2>
        </div>
    </div>
    <div class="row">
        <div class="column small-6 medium-4 large-3 end">
            <table cellpadding="0" cellspacing="0" class="colorCard">
                <tr>
                    <th colspan="2"><div class="redAlert colorChip"><p>Red Alert</p></div></th>
                </tr>
                <tr>
                    <td>HEX</td>
                    <td>#E41500</td>
                </tr>
                <tr>
                    <td>RGB</td>
                    <td>(228, 21, 0)</td>
                </tr>
                <tr>
                    <td>CMYK</td>
                    <td>0, 232, 255, 27</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="column small-12 large-12">
            <h2 class="styleGuideHeading">Blacks</h2>
            <p>For use in text, headings, and body copy unless otherwise noted.</p>
        </div>
    </div>
    <div class="row">
        <div class="column small-6 medium-4 large-3">
            <table cellpadding="0" cellspacing="0" class="colorCard">
                <tr>
                    <th colspan="2"><div class="black56 colorChip"><p>Black 56%</p></div></th>
                </tr>
                <tr>
                    <td>HEX</td>
                    <td>#6f6f6f</td>
                </tr>
                <tr>
                    <td>RGB</td>
                    <td>(111,111,111)</td>
                </tr>
                <tr>
                    <td>CMYK</td>
                    <td>0, 0, 0, 56</td>
                </tr>
            </table>
        </div>
        <div class="column small-6 medium-4 large-3">
            <table cellpadding="0" cellspacing="0" class="colorCard">
                <tr>
                    <th colspan="2"><div class="black80 colorChip"><p>Black 80%</p></div></th>
                </tr>
                <tr>
                    <td>HEX</td>
                    <td>#333333</td>
                </tr>
                <tr>
                    <td>RGB</td>
                    <td>(51, 51, 51)</td>
                </tr>
                <tr>
                    <td>CMYK</td>
                    <td>0, 0, 0, 80</td>
                </tr>
            </table>
        </div>
        <div class="column small-6 medium-4 large-3 end">
            <table cellpadding="0" cellspacing="0" class="colorCard">
                <tr>
                    <th colspan="2"><div class="black87 colorChip"><p>Black 87%</p></div></th>
                </tr>
                <tr>
                    <td>HEX</td>
                    <td>#222222</td>
                </tr>
                <tr>
                    <td>RGB</td>
                    <td>(34, 34, 34)</td>
                </tr>
                <tr>
                    <td>CMYK</td>
                    <td>0, 0, 0, 87</td>
                </tr>
            </table>
        </div>

    </div>
    <div class="row">
        <div class="column small-12 large-12">
            <h2 class="styleGuideHeading">Color Usage</h2>
        </div>
    </div>
    <div class="row">
        <div class="column small-12 large-12">
            <p>Explanation of what is and isn't permitted with Nerium's colors.  Where is each color section permitted?</p>
        </div>
    </div>
</section>
