<header class="styleguide-header">
    <div class="row">
        <div class="column small-12 medium-9 large-centered medium-centered">
            <div class="neriumLogo"><img src="img/logo.png" alt="Nerium International" title="Nerium International"/></div> <!-- Interchange here to swap logo out to responsive -->
        </div>
    </div>
    <div class="row">
        <div class="column small-12 large-12">
            <h1 class="styleguide-header__heading">Elements &amp; Patterns - Rough Draft</h1>
            <h3 class="styleGuideHeading">Data Presentation &amp; Visualization</h3>
        </div>
    </div>
</header>

<section id="elements" data-magellan-destination="elements"><a name="elements"></a>
    <div class="row">
        <div class="column small-12 large-12">
            <h1 class="styleGuideHeading">Data Presentation &amp; Visualization</h1>
        </div>
    </div>
</section>
<section id="charts-graphs">
    <div class="row">
        <div  class="column small-12 large-12">
            <h2 class="styleGuideHeading">Charts &amp; Graphs</h2>
            <p>Charts, graphs, and data visualizations add much-needed color and interest to productivity applications as well as presenting data in a meaningful manner.</p>
        </div>
    </div>
    <div class="row">
        <div class="column small-12 medium-6 large-6">
            <h3 class="styleGuideHeading">Simple Pie Chart</h3>
            <div class="ct-chart" id="pieChartDemo"></div>
        </div>
        <div class="column small-12 medium-6 large-6">
            <h3 class="styleGuideHeading">Simple Line Chart</h3>
            <div id="lineChartDemo" class="ct-chart"></div>
        </div>
        <p>&nbsp;</p>
    </div>
    <div class="row">
        <div class="column small-12 large-12">
            <h3 class="styleGuideHeading">Line Chart with SMIL Animation</h3>
            <div style="height:13em;" id="animatedLineChartDemo" class="ct-chart"></div>
            <p>&nbsp;</p>
        </div>
    </div>
    <div class="row">
        <div class="column small-12 large-12">
            <h3 class="styleGuideHeading">Simple Bar Chart</h3>
            <div id="barChartDemo" class="ct-chart barChartDemo"></div>
            <script>
                var data = {
                    labels: ['Jan', 'Feb', 'Mar', 'Apr', 'Mai', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                    series: [
                    [5, 4, 3, 7, 5, 10, 3, 4, 8, 10, 6, 8],
                    [3, 2, 9, 5, 4, 6, 4, 6, 7, 8, 7, 4],
                    [1, 8, 8, 7, 1, 1, 4, 1, 3, 4, 3, 6],
                    [6, 3, 6, 10, 7, 6, 1, 6, 2, 9, 8, 6]
                    ]
                };
                
                var options = {
                    seriesBarDistance: 10
                };
                
                var responsiveOptions = [
                    ['screen and (max-width: 640px)', {
                    seriesBarDistance: 5,
                    axisX: {
                        labelInterpolationFnc: function (value) {
                        return value[0];
                        }
                    }
                    }]
                ];
                
                new Chartist.Bar('#barChartDemo', data, options, responsiveOptions).on('draw', function(data) {
                    if(data.type === 'bar') {
                    data.element.attr({
                        style: 'stroke-width: 8px',
                        stackBars: false
                    });
                    }
                });
            </script>
            <p>&nbsp;</p>
        </div>
    </div>
    <div class="row">
        <div class="column small-12 large-12">
            <h3 class="styleGuideHeading">Simple Progress Bars</h3>
        </div>
    </div>
    <div class="row">
        <div class="column small-12 large-12">
            <div class="progress"> <span class="meter"></span> </div>
            <div class="progress alert"> <span class="meter" style="width: 50%"></span> </div>
            <div class="progress success round"> <span class="meter" style="width: 20%"></span> </div>
            <div class="progress radius highlight"> <span class="meter" style="width: 30%"></span> </div>
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="column small-12 large-12">
            <h3 class="styleGuideHeading">Guided Progress Bar</h3>
        </div>
    </div>
    <div class="row" id="guidedProgressBar">
        <div class="column small-12 large-12">
            <div class="guided progress radius show-for-medium-up">
                <ul>
                    <li class="visited"><a href="#guidedProgressBar">Step 1</a></li>
                    <li class="visited stepBefore"><a href="#guidedProgressBar">Step 2</a></li>
                    <li class="current"><a href="#guidedProgressBar">Step 3</a></li>
                    <li><a href="#guidedProgressBar">Step 4</a></li>
                    <li><a href="#guidedProgressBar">Step 5</a></li>
                    <li><a href="#guidedProgressBar">Step 6</a></li>
                </ul>
            </div>
            <div class="guided progress show-for-medium-up">
                <ul>
                    <li class="visited"><a href="#guidedProgressBar">Step 1</a></li>
                    <li class="visited stepBefore"><a href="#guidedProgressBar">Step 2</a></li>
                    <li class="current"><a href="#guidedProgressBar">Step 3</a></li>
                </ul>
            </div>
            <div class="guided progress plain show-for-medium-up">
                <ul>
                    <li class="current"><a href="#guidedProgressBar">Step #1</a></li>
                    <li><a href="#guidedProgressBar">Step #2</a></li>
                    <li><a href="#guidedProgressBar">Step #3</a></li>
                    <li><a href="#guidedProgressBar">Step #4</a></li>
                    <li><a href="#guidedProgressBar">Step #5</a></li>
                    <li><a href="#guidedProgressBar">Step #6</a></li>
                    <li><a href="#guidedProgressBar">Step #7</a></li>
                    <li><a href="#guidedProgressBar">Step #8</a></li>
                </ul>
            </div>
            <div class="guided progress radius plain show-for-medium-up">
                <ul>
                    <li class="visited stepBefore"><a href="#guidedProgressBar">Create Account</a></li>
                    <li class="current"><a href="#guidedProgressBar">Enroll</a></li>
                    <li><a href="#guidedProgressBar">Upgrade Options</a></li>
                    <li><a href="#guidedProgressBar">Auto Delivery</a></li>
                    <li><a href="#guidedProgressBar">Checkout</a></li>
                </ul>
            </div>
            <div class="guided progress radius show-for-small-down">
                <ul>
                    <li class="visited stepBefore"><a href="#guidedProgressBar">1</a></li>
                    <li class="current"><a href="#guidedProgressBar">2</a></li>
                    <li><a href="#guidedProgressBar">3</a></li>
                    <li><a href="#guidedProgressBar">4</a></li>
                    <li><a href="#guidedProgressBar">5</a></li>
                </ul>
                <dl class="accordion" data-accordion>
                    <dd class="accordion-navigation">
                        <a href="#panel1b"><h5>Enroll <i class="fa fa-info-circle" style="float:right;"></i></h5></a>
                        <div id="panel1b" class="content">
                            <div class="row">
                                <div class="column small-12"><h6>Country</h6> <span>United States</span></div>
                            </div>
                            <hr class="space" />
                            <div class="row borderBelow">
                                <div class="column small-6"><h4><strong><small>Item</small></strong></h4></div>
                                <div class="column small-6 text-right"><h4><strong><small>Price (USD)</small></strong></h4></div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="column small-7"><span><strong>Starter Pack</strong></span></div>
                                <div class="column small-5 text-right"><span><small>$249<sup>.95</sup></small></span></div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="column small-6"><h6>Total</h6></div>
                                <div class="column small-6 text-right"><h6>$249.95</h6></div>
                            </div>
                            <hr class="space" /><br /><hr class="space" />
                            <div class="row">
                                <div class="column small-12"><span><strong>Disclaimer:</strong> Orders placed by noon CST will be shipped the same day.  Expect delays when shipping to a PO Box.</span></div>
                            </div>
                        </div>
                    </dd>
                </dl>
                
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column small-12 large-12">
            <hr />
        </div>
    </div>
</section>
<section id="maps">
    <div class="row">
        <div class="column small-12 large-12">
            <h2 class="styleGuideHeading">Maps</h2>
        </div>
    </div>
    <div class="row">
        <div class="column small-12 large-12">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13391.777496436536!2d-96.846505!3d32.952478!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x63f5f79e3eee6fdd!2sNerium+International+LLC!5e0!3m2!1sen!2sus!4v1421086071641" width="100%" frameborder="0" style="border:0;min-height:320px;max-height:460px;"></iframe>
            <hr />
        </div>
    </div>
</section>
    <section id="tabularData">
    <div class="row">
        <div class="column small-12 large-12">
            <h2 class="styleGuideHeading">Tabular Data</h2>
        </div>
    </div>
    <div class="row">
        <div class="column small-12 large-12">
            <h3 class="styleGuideHeading">Table</h3>
        </div>
        <div class="column small-12 large-12">
            <table>
            <thead>
            <tr>
            <th width="200">Table Header</th>
            <th>Table Header</th>
            <th width="150">Table Header</th>
            <th width="150">Table Header</th>
            </tr>
            </thead>
            <tbody>
            <tr>
            <td>Content Goes Here</td>
            <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
            <td>Content Goes Here</td>
            <td>Content Goes Here</td>
            </tr>
            <tr>
            <td>Content Goes Here</td>
            <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
            <td>Content Goes Here</td>
            <td>Content Goes Here</td>
            </tr>
            <tr>
            <td>Content Goes Here</td>
            <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
            <td>Content Goes Here</td>
            <td>Content Goes Here</td>
            </tr>
            </tbody>
            </table>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="column small-12 large-12">
        <h3 class="styleGuideHeading">Pricing Table</h3>
        </div>
        <div class="column small-12 medium-6 large-4">
            <ul class="pricing-table">
            <li class="title">NeriumAD</li>
            <li class="bullet-item subtitle">Age-Defying Treatment</li>
            <li class="bullet-item"><img src="101_md.png" alt=""/></li>
            <li class="price">$110</li>
            <li class="bullet-item ado">$80<br /><span>Auto Delivery Order Price</span></li>
            
            <li class="cta-button">
                <button class="button button-highlight button-rounded button-raised"><i class="fa fa-shopping-cart"></i> Add to Basket</button>
            </li>
            </ul>
        </div>
        <div class="column small-12 medium-6 large-4 end">
            <ul class="pricing-table">
            <li class="title">NeriumAD</li>
            <li class="bullet-item subtitle">Age-Defying Treatment</li>
            <li class="bullet-item"><img src="101_md.png" alt=""/></li>
            <li class="price">$110</li>
            <li class="bullet-item ado">$80<br /><span>Auto Delivery Order Price</span></li>
            
            <li class="cta-button">
                <button class="button button-highlight button-rounded button-raised"><i class="fa fa-shopping-cart"></i> Add to Basket</button>
            </li>
            </ul>
            
        </div>
        <hr />
    </div>
    
</section>
<section id="vcard">
    <div class="row">
        <div class="column small-12 large-12">
            <h3 class="styleGuideHeading">vCard &amp; Mini Profile</h3>
        </div>
    </div>
    <div class="row">
        <div class="column small-12 large-12">
            <h4 class="styleGuideHeading">vCard</h4>
            <ul class="vcard">
                <li class="vpicture"><img src="http://placehold.it/150x150" /></li>
                <li class="fn">Nerium International LLC</li> 
                <li class="street-address">4006 Belt Line Road, Suite #100</li> 
                <li class="locality">Addison</li> 
                <li><span class="state">TX</span>, <span class="zip">75001</span></li> 
                <li class="email"><a href="#">support@nerium.com</a></li> 
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="column small-12 large-12">
            <h4 class="styleGuideHeading">Mini Profile</h4>
            <ul class="vcard mini-profile">
                <li class="vpicture">Your Brand Partner <img src="http://placehold.it/45x45" /></li>
                <li class="fn">FirstName LastName</li> 
                <li class="phone">USA +1000-555-5555</li>  
                <li class="email"><a href="#" class="button button-primary button-borderless button-tiny">Send me an email</a></li> 
                <li class="hide-for-medium-down"></li>
                <li class="profile"><a href="#" class="button button-primary button-borderless button-tiny">Full Profile <i class="fa fa-angle-right"></i></a></li>
            </ul>
        </div>
    </div>
</section>