<header class="styleguide-header">
    <div class="row">
        <div class="column small-12 medium-9 large-centered medium-centered">
            <div class="neriumLogo"><img src="img/logo.png" alt="Nerium International" title="Nerium International"/></div> <!-- Interchange here to swap logo out to responsive -->
        </div>
    </div>
    <div class="row">
        <div class="column small-12 large-12">
            <h1 class="styleguide-header__heading">Elements &amp; Patterns - Rough Draft</h1>
        </div>
    </div>
</header>

<section id="elements" data-magellan-destination="elements"><a name="elements"></a>
    <div class="row">
        <div class="column small-12 large-12">
            <h1 class="styleGuideHeading">Elements &amp; Patterns</h1>
            <p>Make a strong case for a set of elegant, clean, and approachable interface patterns that look good "out of the box" AND adhere strongly to brand standards.  It makes everything -- from development to UX to content far more rapid.  Keep it simple.  It's easy to make something overly complex; but very difficult to make something simple.</p>
            <p>Everyone needs to own the brand.  Sure, there have been and will always be exceptions but they should be just that -- <em>exceptions.</em></p>
        </div>
    </div>
    <div class="row">
        <div class="column small-12 large-12">
            <h3 class="styleGuideHeading">Table of Contents</h3>

        </div>
    </div>
</section>