<header class="styleguide-header">
    <div class="row">
        <div class="column small-12 medium-9 large-centered medium-centered">
            <div class="neriumLogo"><img src="img/logo.png" alt="Nerium International" title="Nerium International"/></div> <!-- Interchange here to swap logo out to responsive -->
        </div>
    </div>
    <div class="row">
        <div class="column small-12">
            <h1 class="styleguide-header__heading">Style Guide</h1>
            <h4 class="styleGuideHeading"><br><br>VERSION: 1.00.0</h4>
        </div>
    </div>
</header>

<section id="libraries">
    <div class="row">
        <div class="column small-12">
            <h2>3rd Party Libraries Used</h2>

            <ul>
                <li><a href="">Angular Foundation</a></li>
                <li><a href="">UI Router</a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href="https://github.com/patrickmarabeas/ng-FitText.js/tree/master">ng-FitText</a></li>
                <li><a href="https://github.com/patrickmarabeas/ng-Lettering.js/tree/master">ng-Lettering</a></li>
            </ul>
        </div>
    </div>
</section>