<header class="styleguide-header">
    <div class="row">
        <div class="column small-12 medium-9 large-centered medium-centered">
            <div class="neriumLogo"><img src="img/logo.png" alt="Nerium International" title="Nerium International"/></div> <!-- Interchange here to swap logo out to responsive -->
        </div>
    </div>
    <div class="row">
        <div class="column small-12 large-12">
            <h1 class="styleguide-header__heading">Elements &amp; Patterns - Rough Draft</h1>
            <h3 class="styleGuideHeading">Navigation</h3>
        </div>
    </div>
</header>

<section id="elements" data-magellan-destination="elements"><a name="elements"></a>
    <div class="row">
        <div class="column small-12 large-12">
            <h1 class="styleGuideHeading">Navigation</h1>
        </div>
    </div>
</section>
<section id="breadcrumbs">
    <div class="row">
        <div class="column small-12 large-12">
            <h2 class="styleGuideHeading">Breadcrumbs</h2>
        </div>
    </div>
    <div class="row">
        <div class="column small-12 large-12">
            <h4 class="styleGuideHeading">Framed Breadcrumbs</h4>
            <nav class="breadcrumbs" role="menubar" aria-label="breadcrumbs"> <li role="menuitem"><a href="">Home</a></li> <li role="menuitem"><a href="">Products</a></li> <li role="menuitem" class="current"><a href="">Product Story</a></li> </nav>
            <p>&nbsp;</p>
        </div>
        <div class="column small-12 large-12">
            <h4 class="styleGuideHeading">Plain Breadcrumbs</h4>
            <nav class="breadcrumbs plain" role="menubar" aria-label="breadcrumbs"> <li role="menuitem"><a href="">Home</a></li> <li role="menuitem"><a href="">Products</a></li> <li role="menuitem" class="current"><a href="">Product Story</a></li> </nav>
            <hr/>
        </div>
    </div>
</section>
<section id="menus">
    <div class="row">
        <div class="column small-12 large-12">
            <h2 class="styleGuideHeading">Navigation Systems</h2>
            <p>Navigation, whether on the Nerium International website, web applications, or mobile applications, is a critical part of user experience.  Menus should guide the users to their goal or to the targeted business goal.  A confusing, overly complex, or ugly navigational experience can cause missed conversions and even reduce the user’s perception of the company.  With the adoption of mobile technologies increasing, there needs to be special attention paid to all versions of the navigational interface.</p>
            <p>Navigation needs to be clear, concise, and structured.  Care should be taken to avoid any "mystery meat" navigation – that is, navigational elements or headings that are unclear. According to the Nielsen Norman Group, a usability consulting firm, <a href="http://www.nngroup.com/articles/magnifying-glass-icon/">many users are still unclear about newer icons including the three-line "hamburger" icon (<i class="fa fa-bars"></i>) and the map-marker icon (<i class="fa fa-map-marker"></i>)</a>.  This also includes but is not limited to the ellipsis icon (<i class="fa fa-ellipsis-h"></i>) and unclear headings such as "Other", "More", and "Misc." </p>
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="column small-12 large-12">
            <h3 class="styleGuideHeading" id="menuButton">Menu Buttons</h3>
                <div class="row">
                <div class="column small-6 medium-4 large-2">
                    <span class="button-dropdown" data-buttons="dropdown">
                        <button class="button button-rounded button-small button-border button-primary">
                            English <i class="fa fa-caret-down"></i>
                        </button>
                        <ul class="button-dropdown-list is-below" style="text-align:center;">
                            <li class="button-dropdown-divider"><a href="#menuButton">Español</a></li>
                            <li class="button-dropdown-divider"><a href="#menuButton">Français</a></li>
                        </ul>
                    </span>
                </div>
                <div class="column small-6 medium-4 large-2 end">
                    <button class="button button-rounded button-small button-border button-primary button-uppercase">
                        <i class="fa fa-bars"></i> Menu
                    </button>
                </div>
                </div>
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="column small-12 large-12">
            <h3 class="styleGuideHeading">Primary Navigation</h3>
            
        </div>
        
    </div>
        <div class="row">
        <div class="column small-12 large-12">
            <h4 class="styleGuideHeading">Fixed Top Bar</h4>
            <p>Fixed top bar navigation stays at the top of the page, no matter how far down the user scrolls.  This style guide uses such a menu.  At medium resolution, the text size is slightly reduced.</p>
        </div>
    </div>
    <div class="row">
        <div class="column small-12 large-12">
            <h4 class="styleGuideHeading">Static Top Bar</h4>
            <p></p>
        </div>
    </div>
    <div class="row">
        <div class="column small-12 large-12">
            <h4 class="styleGuideHeading">Stacked Top Bar</h4>
            <p><a class="button button-primary button-rounded button-small" href="/patterns/topMenu.html">Demo</a></p>
        </div>
    </div>
    <div class="row">
        <div class="column small-12 large-12">
            <hr/>
        </div>
    </div>
        <div class="row">
        <div class="column small-12 large-12">
            <h3 class="styleGuideHeading">Sidebar Navigation</h3>
            
            <div class="row">
                <div class="column small-6 large-3">
                    <ul class="side-nav">
                        <li class="active"><a href="#">Link 1 &ndash; Active</a></li>
                        <li><a href="#">Link 2</a></li>
                        <li class="divider"></li> 
                        <li><a href="#">Link 3</a></li> 
                        <li><a href="#">Link 4</a></li> 
                    </ul>
                </div>
                <div class="column small-6 large-9">
                    
                </div>
            </div>
            
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="column small-12 large-12" id="subNav">
            <h3 class="styleGuideHeading">Filter / Sub Nav</h3>
            <div class="row">
            <div class="column small-12">
                    <dl class="sub-nav block" role="menu" title="Product Filter List"> 
                        <dt class="subNavHeading">View By:</dt> 
                        <dd class="active"><a href="#">All</a></dd> 
                        <dd><a href="#subNav">Face</a></dd> 
                        <dd><a href="#subNav">Body</a></dd> 
                        <dd><a href="#subNav">Mind</a></dd> 
                    </dl>
                </div>
                <div class="column small-12">&nbsp;</div>
                <div class="column small-12 medium-6 large-6">
                    <dl class="sub-nav block" role="menu" title="Product Filter List"> 
                        <dt class="subNavHeading">Filter:</dt> 
                        <dd class="active"><a href="#">All</a></dd> 
                        <dd><a href="#subNav">Face</a></dd> 
                        <dd><a href="#subNav">Body</a></dd> 
                        <dd><a href="#subNav">Mind</a></dd> 
                    </dl>
                </div>
                <div class="column small-12 medium-6 large-6">
                    <dl class="sub-nav social" role="menu" title="Social Sharing List"> 
                        <dt class="subNavHeading">Share:</dt> 
                        <dd><a class="button button-primary button-borderless button-small social" href="#subNav"><i class="fa fa-twitter"></i></a></dd> 
                        <dd><a class="button button-primary button-borderless button-small social" href="#subNav"><i class="fa fa-facebook"></i></a></dd> 
                        <dd><a class="button button-primary button-borderless button-small social" href="#subNav"><i class="fa fa-pinterest"></i></a></dd> 
                        <dd><a class="button button-primary button-borderless button-small social" href="#subNav"><i class="fa fa-google-plus"></i></a></dd>
                    </dl>
                </div>
            </div>
            <hr/>
        </div>
    </div>
</section>
<section id="pagination">
    <div class="row">
        <div class="column small-12 large-12">
            <h2 class="styleGuideHeading">Pagination</h2>
        </div>
    </div>
    <div class="row">
        <div class="column small-12 large-12">
            <ul class="pagination" role="menubar" aria-label="Pagination"> <li class="arrow unavailable" aria-disabled="true"><a href="">&laquo; Previous</a></li> <li class="current"><a href="">1</a></li> <li><a href="">2</a></li> <li><a href="">3</a></li> <li><a href="">4</a></li> <li class="unavailable" aria-disabled="true"><a href="">&hellip;</a></li> <li><a href="">12</a></li> <li><a href="">13</a></li> <li class="arrow"><a href="">Next &raquo;</a></li> </ul>
            <hr/>
        </div>
    </div>
</section>