<header class="styleguide-header">
    <div class="row">
        <div class="column small-12 medium-9 large-centered medium-centered">
            <div class="neriumLogo"><img src="img/logo.png" alt="Nerium International" title="Nerium International"/></div> <!-- Interchange here to swap logo out to responsive -->
        </div>
    </div>
    <div class="row">
        <div class="column small-12">
            <h1 class="styleguide-header__heading">Typography - Rough Draft</h1>
        </div>
    </div>
</header>

<section id="typography" data-magellan-destination="typography"><a name="typography"></a>
    <div class="row">
        <div class="column small-12">
            <h1 class="styleGuideHeading">Typography</h1>
        </div>
    </div>
</section>

<section id="fonts">
    <div class="row">
        <div class="column small-12">
            <h2 class="styleGuideHeading">Fonts</h2>
            <p></p>
        </div>
    </div>
    <div class="row">
        <div class="column small-12">
            <aside class="font">
                <h5 class="styleGuideHeading">Sans Serif Font</h5>
                <h1 class="thin">Open Sans</h1>
                <p><strong>Font Download:</strong> <a href="http://www.google.com/fonts/specimen/Open+Sans" target="_blank">http://www.google.com/fonts/specimen/Open+Sans</a></p>
                <p><strong>Weights:</strong> 300</p>
                <p><strong>Usage:</strong> Headings; where other thin, ultra-thin, and other font variants are required.</p>
                
                <h1>Noto Sans</h1>
                <p><strong>Font Download:</strong> <a href="http://www.google.com/fonts/specimen/Noto+Sans" target="_blank">http://www.google.com/fonts/specimen/Noto+Sans</a></p>
                <p><strong>Weights:</strong> 400, 700</p>
                <p><strong>Usage:</strong> Headings, body copy, links</p>
            </aside>
        </div>
        </div>
    <div class="row">
        <div class="column small-12">
            <aside class="font">
                <h5 class="styleGuideHeading">Serif Font</h5>
                <h1 class="headline">Noto Serif</h1>
                <p><strong>Font Download:</strong> <a href="http://www.google.com/fonts/specimen/Noto+Serif" target="_blank">http://www.google.com/fonts/specimen/Noto+Serif</a></p>
                <p><strong>Weights:</strong> 400, 700</p>
                <p><strong>Usage:</strong> Headings</p>
            </aside>
        </div>
        </div>
        <div class="row">
        <div class="column small-12">
            <hr />
        </div>
        </div>
    <div class="row">
        <div class="column small-12">
            <h2 class="styleGuideHeading">Noto Sans vs. Open Sans</h2>
            <p>Noto Sans is very close to Open Sans, with only minor differences between the two fonts.  Due to this, if specifications require a font weight or variant not available in Noto Sans, Open Sans my be safely substituted.</p>
            <figure style="text-align:center;padding:1rem;">
                <img src="img/open-sans_vs_noto-sans.png" alt="Comparison of Open Sans and Noto Sans" />
                <figcaption>Fig1. - Open Sans in transparent blue overlaid with Noto Sans in transparent red to demonstrate the similarities.</figcaption>
            </figure>
        </div>
    </div>
    <div class="row">
        <div class="column small-12">
            <hr />
        </div>
        </div>
</section>

<section id="headings">
        <div class="row">
            <div class="column small-12">
                <h2 class="styleGuideHeading">Headings</h2>
                
            </div>
            </div>
            <div class="row">
            <div class="column small-12 medium-6">
                <h3 class="styleGuideHeading">Regular Headings</h3>
                <aside class="headings">
                    <h1>Heading 1</h1>
                    <h2>Heading 2</h2>
                    <h3>Heading 3</h3>
                    <h4>Heading 4</h4>
                    <h5>Heading 5</h5>
                    <h6>Heading 6</h6>
                </aside>
            </div>
            <div class="column small-12 medium-6">
                <h3 class="styleGuideHeading">Serif Headlines</h3>
                <aside class="headings">
                    <h1 class="headline">Headline 1</h1>
                    <h2 class="headline">Headline 2</h2>
                    <h3 class="headline">Headline 3</h3>
                    <h4 class="headline">Headline 4</h4>
                    <h5 class="headline">Headline 5</h5>
                    <h6 class="headline">Headline 6</h6>
                </aside>
            </div>
            </div>
            <div class="row">
            <div class="column small-12 medium-6">
                <h3 class="styleGuideHeading">Subheadings</h3>
                <aside class="headings">
                    <h1 class="subheader">Subheading 1</h1>
                    <h2 class="subheader">Subheading 2</h2>
                    <h3 class="subheader">Subheading 3</h3>
                    <h4 class="subheader">Subheading 4</h4>
                    <h5 class="subheader">Subheading 5</h5>
                    <h6 class="subheader">Subheading 6</h6>
                </aside>
            </div>
            <div class="column small-12 medium-6">
                <h3 class="styleGuideHeading">Small Segment Headings</h3>
                <aside class="headings">
                    <h1><small>Small Segment Heading 1</small></h1>
                    <h2><small>Small Segment Heading 2</small></h2>
                    <h3><small>Small Segment Heading 3</small></h3>
                    <h4><small>Small Segment Heading 4</small></h4>
                    <h5><small>Small Segment Heading 5</small></h5>
                    <h6><small>Small Segment Heading 6</small></h6>
                </aside>
            </div>
            </div>
            <div class="row">
            <div class="column small-12 large-12">
                <hr />
            </div>
            </div>
            <div class="row">
            <div class="column small-12 large-12">
                <h2 class="styleGuideHeading">Mixing Headings</h2>
                <p></p>
            </div>
            </div>
            <div class="row">
            <div class="column small-12 large-12">
                <h3 class="styleGuideHeading">Magazine Heading 1</h3>
                <aside>
                    <h1 class="magazine headline" data-fittext data-fittext-max="67">I Shot the Serif!</h1>
                    <h2 class="magazine subheader">But I Did Not Shoot the Sans-Serif.</h2>
                    <p>Totally rocking some jQuery called <a href="http://fittextjs.com/">FitText.js <i class="fa fa-external-link" style="font-size:9px"></i></a> to assure the text looks fantastic at any resolution.</p>
                </aside>
            </div>
            </div>
            <div class="row">
            <div class="column small-12 large-12">
                    <h3 class="styleGuideHeading">Magazine Pull Quote</h3>
            </div>
            </div>
            <div class="row">
            <div class="column small-12 medium-8 large-9">
                <p>Rocking another jQuery library called <a href="http://letteringjs.com/">Lettering.js <i class="fa fa-external-link"></i></a> to gain precise control over the text.</p><p>This library allows you to control each letter, character, word, or line individually without any additional markup.  The jQuery does the work for you, so you just lay in the copy and style as needed.</p><p>Content could simply lay in the copy and then the styles chosen by a simple dropdown.  The dropdown changes the class on the parent element the jQuery is set to look for, which would call upon the styles set up in the CSS.</p>
            </div>
            <div class="column small-12 medium-4 large-3">
                <blockquote class="pullQuote"><span data-lettering="words">Working hard and working smart sometimes can be two different things.</span> <cite>Byron Dorgan</cite></blockquote>
            </div>
        </div>
        <div class="row">
            <div class="column small-12 large-12">
                <hr />
            </div>
            </div>
</section>

<section id="contentBody">
    <div class="row">
        <div class="column small-12 large-12">
            <h2 class="styleGuideHeading">Body</h1>
        </div>
    </div>
    <div class="row">
        <div class="column small-12 large-12">
        <h3 class="styleGuideHeading">Paragraphs &amp; Text Formatting</h3>
            <p>Large text is the new black.  The body text on this page uses 16px as the default size for a look that's both accessible and modern.</p>
            <p>Lorem ipsum dolor posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean lacinia bibendum nulla sed consectetur. Lorem <em>ipsum dolor sit</em> amet, <strong>consectetur adipiscing</strong> elit. Cras mattis <a href="#">consectetur</a> purus sit amet fermentum. Maecenas <s>faucibus</s> mollis interdum. Aenean lacinia bibendum nulla sed consectetur. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
            
            <p>Etiam non justo vulputate, <del datetime="2011-11-15T22:55:03Z">commodo</del> <ins datetime="2011-11-15T22:55:03Z">magna</ins> a, faucibus nisl. Nunc non faucibus nibh. Donec <abbr title="Brand Partners">BP</abbr> pharetra vulputate tempor. Fusce sed pretium justo. Duis maximus fermentum odio, sed scelerisque sapien pulvinar in. Cras tempus fermentum mauris et imperdiet.</p>
            <p>To lock your computer, press <kbd>ctrl + alt + del</kbd> and select "Lock" from the available options.</p>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="column small-12 large-12">
            <h3 class="styleGuideHeading">Pre-formatted text</h3>
            <pre>Lorem ipsum dolor posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean lacinia bibendum nulla sed consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras mattis consectetur purus sit amet fermentum. Maecenas faucibus mollis interdum. Aenean lacinia bibendum nulla sed consectetur. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</pre>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="column small-12 large-12">
            <h3 class="styleGuideHeading">Blockquotes</h3>
            <blockquote>"Our passion is to create a business that allows people to live their lives to the fullest, develop as leaders, build lasting relationships, and have fun, while building a solid business for themselves and their families." <cite>Jeff Olson<br />Founder &amp; CEO</cite></blockquote>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="column small-12 large-12">
            <h3 id="badges" class="styleGuideHeading">Badges &amp; Tags</h3>
            <p>These are small "tags" or "badges" meant to indicate a changed status, new items, notifications, etc. These accept all modifiers from our button library including standard colors and shapes.  These can be applied to nearly all inline HTML elements including spans, superscript, subscript, and more.</p>
            <p>
               <span class="nm-label">Default</span> 
               <span class="nm-label nm-label--secondary nm-label--radius">Secondary</span>
               <span class="nm-label nm-label--alert nm-label--round">Alert</span>
               <span class="nm-label nm-label--warning">Highlight / Warning</span>
               <span class="nm-label nm-label--success">Success</span>
               <span class="nm-label nm-label--info">Info</span>
            </p>
            
            <p>Examples:</p>
            <aside class="headings">
                <h1>Lorem Ipsum Dolor <sup class="nm-label">New!</sup></h1> 
                <h2>Lorem Ipsum Dolor <small class="nm-label nm-label--radius secondary">New!</small></h2>
                <h3>Lorem Ipsum Dolor <sup class="nm-label nm-label--alert nm-label--round"><strong>5</strong></sup></h3>
                <h4>Lorem Ipsum Dolor <em class="nm-label nm-label--warning">Best Seller!</em></h4>
                <h5>Lorem Ipsum Dolor <strong class="nm-label nm-label--success">New!</strong></h5>
                <h6>Lorem Ipsum Dolor <span class="nm-label"><i class="fa fa-tags"></i> 20% OFF</span> <span class="nm-label nm-label--warning"><i class="fa fa-certificate"></i> Best Seller!</span></h6>
                <p><a href="#badges">Messages</a> <span class="nm-label nm-label--round"><strong>42</strong></span></p>
                <p><small>Tags:</small> <span class="nm-label nm-label--radius">Announcements <a class="closer" href="#badges">&times;</a></span> <span class="nm-label nm-label--radius">Korea <a class="closer" href="#badges">&times;</a></span> <span class="nm-label nm-label--radius">Nerium <a class="closer" href="#badges">&times;</a></span></p>
            </aside>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="column small-12 large-12">
            <h3 class="styleGuideHeading">Definition Lists</h3>
            <dl>
                <dt>Be Real</dt>
                <dd>At Nerium International, our mantra is real: getting real, being real, and creating real change. But we also want to attract genuine people who can be themselves and have fun.</dd>
                <dt>Pursue Constant Development of Self</dt>
                <dd>No matter how successful or accomplished one might be, there are always more improvements to be made.</dd>
                <dt>Encourage an Entrepreneurial Spirit</dt>
                <dd>Believe in your dreams enough to get outside your comfort zone. Remember to live life on your own terms. </dd>
            </dl>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="column small-12 large-12">
            <h3 class="styleGuideHeading">Lists</h3>
        </div>
    </div>
    <div class="row">
        <div class="column small-12 medium-6">
        <h4 class="styleGuideHeading">Ordered List</h4>
            <ol>
                <li>Item 1</li>
                <li>Item 2
                    <ol>
                        <li>Nested Item 1</li>
                        <li>Nested Item 2</li>
                    </ol>
                </li>
                <li>Item 3</li>
            </ol>
        </div>
        <div class="column small-12 medium-6">
            <h4 class="styleGuideHeading">Unordered List</h4>
            <ul>
                <li>List Item</li>
                <li>List Item
                    <ul>
                        <li>Nested List Item</li>
                        <li>Nested List Item
                        <ul>
                            <li>Nested List Item</li>
                            <li>Nested List Item</li>
                        </ul>
                        </li>
                    </ul>
                </li>
                <li>List Item</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="column small-12 large-12">
            <h4 class="styleGuideHeading">Inline List</h4>
            <ul class="inline-list">
                <li>Item 1</li>
                <li>Item 2</li>
                <li>Item 3</li>
                <li>Item 4</li>
                <li>Item 5</li>
            </ul>
        </div>
    </div>
</section>
