<header class="styleguide-header">
    <div class="row">
        <div class="column small-12 medium-9 large-centered medium-centered">
            <div class="neriumLogo"><img src="img/logo.png" alt="Nerium International" title="Nerium International"/></div> <!-- Interchange here to swap logo out to responsive -->
        </div>
    </div>
    <div class="row">
        <div class="column small-12 large-12">
            <h1 class="styleguide-header__heading">Elements &amp; Patterns - Rough Draft</h1>
            <h3 class="styleGuideHeading">Interface Controls</h3>
        </div>
    </div>
</header>

<section id="elements" data-magellan-destination="elements"><a name="elements"></a>
    <div class="row">
        <div class="column small-12 large-12">
            <h1 class="styleGuideHeading">Interface Controls</h1>
        </div>
    </div>
</section>
    <section id="accordions">
    <div class="row">
        <div class="column small-12 large-12">
            <h2 class="styleGuideHeading">Accordion Controls</h2>
        </div>
    </div>
    <div class="row">
        <div class="column small-12 large-12">
            <h3 class="styleGuideHeading">Default Accordion Style</h3>
            <accordion class="nm-accordion">
                <accordion-group>
                    <accordion-heading>
                        I can have markup, too! <i class="right" ng-class="{'fa fa-chevron-down': isopen, 'fa fa-chevron-right': !isopen}"></i>
                    </accordion-heading>
                    
                    <ul class="small-block-grid-2 large-block-grid-3 ">
                        <li>
                            <img src="http://placehold.it/350x150">
                        </li>
                        <li>
                            <img src="http://placehold.it/350x150">
                        </li>
                        <li>
                            <img src="http://placehold.it/350x150">
                        </li>
                    </ul>
                </accordion-group>
                <accordion-group class="nm-accordion__navigation">
                    <a class="nm-accordion__link" href="#panel2a">Accordion 2</a>
                        <div id="panel2a" class="nm-accordion__content">
                            <div class="row">
                                <div class="small-6 columns">
                                    <p>Panel 2. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                </div>
                                <div class="small-6 columns">
                                    <img src="http://placehold.it/350x150">
                                </div>
                            </div>
                        </div>
                </accordion-group>
                <accordion-group class="nm-accordion__navigation">
                    <a class="nm-accordion__link" href="#panel3a">Accordion 3</a>
                    <div id="panel3a" class="nm-accordion__content">
                        <p>Panel 3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                    </div>
                </accordion-group>
            </accordion>
            <hr/>
        </div>
    </div>
    
    <div class="row">
        <div class="column small-12 large-12">
            <h3 class="styleGuideHeading"><em>Plain</em> Accordion Style</h3>
            <p>This "chromeless" style can be used to house small FAQs, collapsable legal agreements, or other informational content that needs to be collapsed.</p>
            <ul class="accordion plain" data-accordion="">
                <li class="accordion-navigation">
                    <a href="#panel4a">Q. What style classes are available for accordions?</a>
                    <div id="panel4a" class="content">
                        <p><strong>Answer:</strong></p>
                        <ul>
                            <li><em>Default</em> &ndash; Light Grey background, Black 87% Text</li>
                            <li><em>Primary</em> &ndash; Nerium Blue background, White Text</li>
                            <li><em>Plain</em> &ndash; No background color, Black 87% Text, Nerium Blue Headings</li>
                            <li><em>Info</em> &ndash; Sky blue background, Black 87% Text </li>
                            <li><em>Flexi</em> &ndash; Nerium blue header, light grey content background, Black 87% Text</li>
                        </ul>
                    </div>
                </li>
                <li class="accordion-navigation">
                    <a href="#panel5a">Q. Can the arrow be moved or changed?</a>
                    <div id="panel5a" class="content">
                        <p><strong>Answer:</strong> Absolutely.  It's a <a href="http://fortawesome.github.io/Font-Awesome/">FontAwesome</a> icon placed in an <em>::after</em> pseudo-element, floated right.  With some simple CSS modifications, the arrows could be changed to other control symbols or removed entirely.</p>
                    </div>
                </li>
                <li class="accordion-navigation">
                    <a href="#panel6a">Q. Are these controls responsive?</a>
                    <div id="panel6a" class="content">
                        <p><strong>Answer:</strong> All elements in this guide are mobile-first reponsive and touch sensitive.</p>
                    </div>
                </li>
            </ul>
            <hr/>
        </div>
    </div>
</section>
<section id="buttons">
    <div class="row">
        <div class="column small-12 large-12">
            <h2 class="styleGuideHeading">Buttons</h2>
            <p>These button classes work on all common button tags, including button tags, anchor tags, and input button tags.</p>
            <p>Buttons should be used responsibly, as anchor tags, buttons, and input all have very different controls in the DOM.  This dramatically affects usability and accessiblity.  As a rule:
                <ul>
                    <li><strong>Buttons</strong> should be used for application commands, such as "Add to Basket."</li>
                    <li><strong>Anchor tags</strong> should be used when linking to internal or external pages or resources, such as CTAs.</li>
                    <li><strong>Input button tags</strong> should be used within forms.</li>
                </ul>
            </p>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="column small-12 large-12">
            <h3 class="styleGuideHeading">Basic Buttons</h3>
                <aside class="buttons">
                    <h5 class="buttonLabel">Style: Nerium Blue; default color for all buttons</h5>
                    <div class="row">
                        <div class="column small-12 medium-6">
                            <p>
                                <a href="" class="nm-button nm-button__default nm-button-rounded nm-button--large">Go</a>
                                <a href="" class="nm-button nm-button-primary nm-button-rounded">Go</a>
                                <a href="" class="nm-button nm-button-primary nm-button-rounded nm-button--small">Go</a>
                                <a href="" class="nm-button nm-button-primary nm-button-rounded nm-button--tiny">Go</a>
                            </p>
                        </div>
                        <div class="column small-12 medium-6">
                            <p>
                                <button class="nm-button nm-button-primary nm-button-square nm-button--large"><i class="fa fa-plus"></i></button>
                                <button class="nm-button nm-button-primary nm-button-square"><i class="fa fa-plus"></i></button>
                                <button class="nm-button nm-button-primary nm-button-box nm-button--small"><i class="fa fa-plus"></i></button>
                                <button class="nm-button nm-button-primary nm-button-circle nm-button--tiny"><i class="fa fa-plus"></i></button>
                            </p>
                        </div>
                    </div>
                </aside>
                
                <aside class="buttons">
                    <h5 class="buttonLabel">Style: Happiness Orange; For use as CTAs</h5>
                    <div class="row">
                        <div class="column small-12 medium-6">
                            <p>
                                <a href="" class="nm-button nm-button__cta nm-button-rounded nm-button--large">Go</a>
                                <a href="" class="nm-button nm-button__cta nm-button-rounded">Go</a>
                                <a href="" class="nm-button nm-button__cta nm-button-rounded nm-button--small">Go</a>
                                <a href="" class="nm-button nm-button__cta nm-button-rounded nm-button--tiny">Go</a>
                            </p>
                        </div>
                        <div class="column small-12 medium-6">
                            <p>
                                <button class="nm-button nm-button__cta nm-button-square nm-button--large"><i class="fa fa-plus"></i></button>
                                <button class="nm-button nm-button__cta nm-button-square"><i class="fa fa-plus"></i></button>
                                <button class="nm-button nm-button__cta nm-button-box nm-button--small"><i class="fa fa-plus"></i></button>
                                <button class="nm-button nm-button__cta nm-button-circle nm-button--tiny"><i class="fa fa-plus"></i></button>
                            </p>
                        </div>
                    </div>
                </aside>
                
                <aside class="buttons" style="background-color:#333;padding:0.1rem 1em;">
                    <h5 class="buttonLabel" style="color:#fff;">Style: Light Grey; For use on dark backgrounds</h5>
                    <div class="row">
                        <div class="column small-12 medium-6">
                            <p>
                                <a href="" class="nm-button nm-button__light nm-button-rounded nm-button--large">Go</a>
                                <a href="" class="nm-button nm-button__light nm-button-rounded">Go</a>
                                <a href="" class="nm-button nm-button__light nm-button-rounded nm-button--small">Go</a>
                                <a href="" class="nm-button nm-button__light nm-button-rounded nm-button--tiny">Go</a>
                            </p>
                        </div>
                        <div class="column small-12 medium-6">
                            <p>
                                <button class="nm-button nm-button__light nm-button-square nm-button--large"><i class="fa fa-plus"></i></button>
                                <button class="nm-button nm-button__light nm-button-square"><i class="fa fa-plus"></i></button>
                                <button class="nm-button nm-button__light nm-button-box nm-button--small"><i class="fa fa-plus"></i></button>
                                <button class="nm-button nm-button__light nm-button-circle nm-button--tiny"><i class="fa fa-plus"></i></button>
                            </p>
                        </div>
                    </div> 
                </aside>
                
                <iframe height='266' scrolling='no' src='//codepen.io/justindmyers/embed/LGLeLO/?height=266&theme-id=21685&default-tab=result' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>
                </iframe>
                <hr />
            </div>
        </div>
        
        <div class="row">
            <div class="column small-12 large-12">

                <h3 class="styleGuideHeading">Block Buttons</h3>
                <p>These buttons span the entire width of the containing element.  These should only be used in small containers such as sidebars or on mobile.</p>
                <p>
                    <a href="" class="button button-block button-rounded">Continue</a></p><p>
                    <a href="" class="button button-block button-rounded button-primary">Continue</a></p><p>
                    <a href="" class="button button-block button-rounded button-highlight">Continue</a>
                </p>
            <hr />
            <h3 class="styleGuideHeading">Border &amp; Borderless Icon Buttons</h3>
            <div class="row">
                <div class="columns medium-6 large-6">
                    <div style="background-color:#53ABAE;padding:1em;margin:1em 0;">
                        <button class="button button--large button-plain button-border button-circle"><i class="fa fa-reply"></i></button>
                        <button class="button button--large button-plain button-border button-box"><i class="fa fa-star"></i></button>
                        <button class="button button--large button-plain button-border button-square"><i class="fa fa-trash-o"></i></button>
                        <button class="button button--large button-plain button-borderless"><i class="fa fa-tag"></i></button>
                    </div>
                </div>
                <div class="columns medium-6 large-6">
                    <div style="background-color:transparent;padding:1em;margin:1em 0;">
                        <button class="button button-circle button-primary button-border button--large"><i class="fa fa-reply"></i></button>
                        <button class="button button-box button-primary button--large button-border"><i class="fa fa-star"></i></button>
                        <button class="button button-square button-primary button--large button-border"><i class="fa fa-trash-o"></i></button>
                        <button class="button button-primary button--large button-borderless"><i class="fa fa-tag"></i></button>
                    </div>
                    </div>
            </div>
            <hr/>
            </div>
            </div>
            <div class="row">
            <div class="column small-12 large-12">
            <h3 class="styleGuideHeading" id="linkButtons">Link Buttons</h3>
            </div>

            <div class="column small-12 medium-6 large-6">
                <h5 class="styleGuideHeading">Primary</h5>
                <aside class="buttons">
                <p>
                    <a href="#linkButtons" class="button button-primary button--tiny button-borderless button-link"><strong>See More <i class="fa fa-angle-right"></i></strong></a></p><p>
                    <a href="#linkButtons" class="button button-primary button--small button-borderless button-link"><strong>See More <i class="fa fa-angle-right"></i></strong></a></p><p>
                    <a href="#linkButtons" class="button button-primary button-borderless button-link"><strong>See More <i class="fa fa-angle-right"></i></strong></a></p><p>
                    <a href="#linkButtons" class="button button-primary button--large button-borderless button-link"><strong>See More <i class="fa fa-angle-right"></i></strong></a>
                </p>
                </aside>
            </div>

            
            <div class="column small-12 medium-6 large-6 end">
                <h5 class="styleGuideHeading">Highlight / CTA</h5>
                <aside class="buttons">
                <p>
                    <a href="#linkButtons" class="button button-highlight button--tiny button-borderless button-link"><strong>See More <i class="fa fa-angle-right"></i></strong></a></p><p>
                    <a href="#linkButtons" class="button button-highlight button--small button-borderless button-link"><strong>See More <i class="fa fa-angle-right"></i></strong></a></p><p>
                    <a href="#linkButtons" class="button button-highlight button-borderless button-link"><strong>See More <i class="fa fa-angle-right"></i></strong></a></p><p>
                    <a href="#linkButtons" class="button button-highlight button--large button-borderless button-link"><strong>See More <i class="fa fa-angle-right"></i></strong></a>
                </p>
                </aside>
            </div>
        </div>
        <div class="row">
        <div class="column small-12 large-12">
            <hr/>
            <h3 class="styleGuideHeading">Disabled Button Styles</h3>
            <p><button class="button button-square button-primary button--large button-border" disabled><i class="fa fa-trash-o"></i></button></p>
            <p><a href="#" class="button disabled button-rounded button--large button-primary ">Go</a>
                <button disabled="" class="button button-rounded button-primary">Go</button>
                </p>
                <p><button disabled class="button button-primary button-rounded">Processing... <i class="fa fa-spinner fa-spin fa-lg"></i></button>
            </p>
            <p><a href="" class="button button-block button-rounded button-highlight disabled">Continue</a></p>
            
            <hr/>
        </div>
    </div>
    <div class="row hide">
        <div class="column small-12 large-12">
            <h3 class="styleGuideHeading">Grouped Buttons</h3>
            <div class="button-group">
                <button type="button" class="button button-primary"><i class="fa fa-download"></i> Download</button>
                <button type="button" class="button button-primary"><i class="fa fa-print"></i> Print</button>
                <button type="button" class="button button-primary"><i class="fa fa-share-square-o"></i> Share</button>
                
                <!-- DROPDOWN MENU -->
                <span class="button-dropdown button-dropdown-primary" data-buttons="dropdown">
                    <button type="button" class="button button-primary">Mark As <i class="fa fa-caret-down"></i></button>
                    
                    <ul class="button-dropdown-list is-below">
                        <li><a href="">Favorite</a></li>
                        <li><a href="">Flag</a></li>
                        <li class="button-dropdown-divider"><a href="">Add to list...</a></li>
                    </ul>
                </span>
            </div>
                
                <br /><br />
            <div class="button-group">
                <button type="button" class="button button-highlight button-rounded button-raised">Option 1</button>
                <button type="button" class="button button-highlight button-rounded button-raised">Option 2</button>
                <button type="button" class="button button-highlight button-rounded button-raised">Option 3</button>
            </div>
            
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="column small-12 large-12">
            <h3 class="styleGuideHeading">Dropdown Buttons</h3>
                <span class="button-dropdown" data-buttons="dropdown">
                <button class="button button-rounded">
                    Select Me <i class="fa fa-caret-down"></i>
                </button>
            
                <ul class="button-dropdown-list is-below">
                    <li><a href="">Option Link 1</a></li>
                    <li><a href="">Option Link 2</a></li>
                    <li class="button-dropdown-divider">
                    <a href="">Option Link 3</a>
                    </li>
                </ul>
                </span>
            
                
            
            
                <span class="button-dropdown button-dropdown-highlight" data-buttons="dropdown">
                <button class="button button-highlight button-rounded">
                    Select Me <i class="fa fa-caret-down"></i>
                </button>
            
                <ul class="button-dropdown-list is-below">
                    <li><a href="">Option Link 1</a></li>
                    <li class="button-dropdown-divider">
                    <a href="">Option Link 2</a>
                    </li>
                    <li>
                    <a href="">Option Link 3</a>
                    </li>
                </ul>
                </span>
            
                <span class="button-dropdown button-dropdown-primary" data-buttons="dropdown">
                <a href="" class="button button-primary button-rounded">
                    <i class="fa fa-envelope"></i> Select Me <i class="fa fa-caret-down"></i>
                </a>
            
                <ul class="button-dropdown-list is-below">
                    <li><a href=""><i class="fa fa-reply"></i> Reply</a></li>
                    <li><a href=""><i class="fa fa-reply-all"></i> Reply All</a></li>
                    <li><a href=""><i class="fa fa-mail-forward"></i> Forward</a></li>
                    <li><a href=""><i class="fa fa-flag"></i> Flag</a></li>
                    <li class="button-dropdown-divider"><a href=""><i class="fa fa-cogs"></i> Options</a></li>
                </ul>
                </span>
                <span class="button-dropdown" data-buttons="dropdown">
                <button class="button button-rounded button--small button-border button-primary">
                    English <i class="fa fa-caret-down"></i>
                </button>
                <ul class="button-dropdown-list is-below" style="text-align:center;">
                    <li class="button-dropdown-divider"><a href="#menuButton">Español</a></li>
                    <li class="button-dropdown-divider"><a href="#menuButton">Français</a></li>
                </ul>
            </span>
                <span class="button-dropdown button-dropdown-primary" data-buttons="dropdown">
                <button class="button button-primary button--tiny button-rounded">
                    <i class="fa fa-bars"></i> Select Me
                </button>
            
                <ul class="button-dropdown-list is-below">
                    <li class="button-dropdown-divider"><a href="">Option Link 1</a></li>
                    <li class="button-dropdown-divider"><a href="">Option Link 2</a></li>
                    <li class="button-dropdown-divider"><a href="">Option Link 3</a></li>
                </ul>
                </span>    			<hr/>
        </div>
    </div>
    
    <div class="row" id="socialButtons">
        <div class="column small-12 large-12">
            <h3 class="styleGuideHeading">Social Media Buttons</h3>
            <p>
                <div class="button-group social">
                    <a class="button button-primary button-square button--large social" href=""><i class="fa fa-twitter"></i></a>
                    <a class="button button-primary button-square button--large social" href=""><i class="fa fa-facebook"></i></a>
                    <a class="button button-primary button-square button--large social" href=""><i class="fa fa-youtube"></i></a>
                    <a class="button button-primary button-square button--large social" href=""><i class="fa fa-pinterest"></i></a>
                    <a class="button button-primary button-square button--large social" href=""><i class="fa fa-google-plus"></i></a>
                    <a class="button button-primary button-square button--large social" href=""><i class="fa fa-linkedin"></i></a>
                </div>
            </p>
            <p>
                
                <a class="button button-primary button-box button--large social" href=""><i class="fa fa-twitter"></i></a>
                    
                <a class="button button-primary button-box button--large social" href=""><i class="fa fa-facebook"></i></a>
                    
                <a class="button button-primary button-box button--large social" href=""><i class="fa fa-youtube"></i></a>
                    
                <a class="button button-primary button-box button--large social" href=""><i class="fa fa-pinterest"></i></a>
                    
                <a class="button button-primary button-box button--large social" href=""><i class="fa fa-google-plus"></i></a>
                    
                <a class="button button-primary button-box button--large social" href=""><i class="fa fa-linkedin"></i></a>
            </p>
            <p>
                <div class="button-group social">
                    <a class="button button-primary button-borderless button--large social" href=""><i class="fa fa-twitter"></i></a>
                    <a class="button button-primary button-borderless button--large social" href=""><i class="fa fa-facebook"></i></a>
                    <a class="button button-primary button-borderless button--large social" href=""><i class="fa fa-youtube"></i></a>
                    <a class="button button-primary button-borderless button--large social" href=""><i class="fa fa-pinterest"></i></a>
                    <a class="button button-primary button-borderless button--large social" href=""><i class="fa fa-google-plus"></i></a>
                    <a class="button button-primary button-borderless button--large social" href=""><i class="fa fa-linkedin"></i></a>
                </div>
            </p>
        </div>
            <div class="column small-12 large-12">
            <hr />
        </div>
    </div>
</section>

<section id="dropdowns">
    <div class="row">
        <div class="column small-12 large-12">
            <h2 class="styleGuideHeading">Dropdowns &amp; Tooltips</h2>
        </div>
    </div>
    <div class="row">
        <div class="column small-12 large-12">
            <h3 class="styleGuideHeading">Tooltips</h3>
            <p>Behaviors can be entirely configured via data options, this includes auto-close, hover effects, timeout, align, and more.</p>
        </div>
    </div>
    <div class="row">
    <div class="column small-12 medium-6 large-6">
        <p><span data-tooltip aria-haspopup="true" class="has-tip" title="Tooltips are awesome, you should totally use them!">Basic Tooltip</span></p>
    </div>
    <div class="column small-12 medium-6 large-6">
            <p> <a href="#" data-dropdown="drop" aria-controls="drop" aria-expanded="false" data-options="is_hover:true; hover_timeout:5000">Rich Tooltip (Content Dropdown)</a> 
            <div id="drop" data-dropdown-content class="f-dropdown content mega" aria-hidden="true" tabindex="-1">
                <div style="text-align:center;padding-bottom:10px;">
                    <div id="lineChartDemo" class="ct-chart"></div>
                    <script>
                        var chart = new Chartist.Line('#lineChartDemo', {
                            labels: [1, 2, 3, 4, 5],
                            series: [
                            [1, 5, 10, 0, 1],
                            [10, 15, 0, 1, 2]
                            ]
                        }, {
                            // Remove this configuration to see that chart rendered with cardinal spline interpolation
                            // Sometimes, on large jumps in data values, it's better to use simple smoothing.
                            lineSmooth: Chartist.Interpolation.simple({
                            divisor: 2
                            }),
                            fullWidth: true,
                            chartPadding: {
                            right: 20
                            },
                            low: 0
                        });
                    </script>
                </div>
                <p style="text-align:center;">Any possible content can go inside this tooltip!</p>
                <table style="text-align:center;width:100%;">
                    <thead>
                        <tr>
                            <th>Header</th>
                            <th>Percent</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Content</td>
                            <td>33%</td>
                        </tr>
                        <tr>
                            <td>Content</td>
                            <td>33%</td>
                        </tr>
                        <tr>
                            <td>Content</td>
                            <td>33%</td>
                        </tr>
                    </tbody>
                </table>
                <p style="text-align:center;">
                    <button class="button button-rounded button-highlight">CTA Button</button>
                </p>
            </div></p>
            
        </div>
        
    </div>
    <div class="row">
        <div class="column small-12 large-12">
            <hr />
        </div>
    </div>
</section>
<section id="formFields">
    <div class="row">
        <div class="column small-12 large-12">
            <h2 class="styleGuideHeading">Form Controls</h2>
            <p>Recommended position for labels is top, left aligned.  This allows for more room for longer, more complex labels and for localization.  Labels should be clear, concise, and use simple language whenever possible.  Most users find more casual language to be more "human"; and thus, more easily understood.</p>
            
            <dl class="accordion flexi" data-accordion>
                <dd class="accordion__navigation">
                    <a class="accordtion__link" href="#formDemo">Form Demonstration Controls</a>
                    <div id="formDemo" class="content">
                        <div class="row">
                            <div class="column small-12 large-4 end">
                                <label>Show Disabled States</label>
                                    <div class="switch radius small">
                                        <input id="showDisabled" type="checkbox">
                                        <label for="showDisabled"></label>
                                    </div>
                            </div>
                        </div>
                    
                    </div>
                </dd>
            </dl>
            <dl class="accordion flexi" data-accordion>
                <dd class="accordion-navigation">
                    <a href="#devNotes">Development Notes</a>
                    <div id="devNotes" class="content">
                        <div class="row">
                            <div class="column small-12 large-12 end">
                                <ol>
                                    <li>HTML5 Date Fields
                                        <ul>
                                            <li>These fields will invoke a native date picker for the browsers that support it (Safari, Chrome, &amp; most mobile devices).  For those that don't (Internet Explorer and Firefox), you will need to provide a fallback.  In this style guide, I'm utilizing Modernizr to detect browser support and polyfill with Foundatation Date Picker.</li>
                                            <li>For the field to have the right date format, you <em><strong>MUST</strong></em> specify the language and country in the html tag using ISO codes. If language <strong>and</strong> country are not set the field <strong>will</strong> default to the HTML5 Standard "wire" format (IE: yyyy-mm-dd) regardless of the preferred local datetime format.
                                            </li>
                                            </ul>
                                        </li>
                                    </ol>
                                    
                                    <table style="margin:0 auto;width:90%;">
                                        <caption>
                                        ISO Country Codes
                                        </caption>
                                        <thead>
                                        <tr>
                                            <th>Country</th>
                                            <th>Language</th>
                                            <th>Code</th>
                                        </tr>
                                        </thead>
                                        <tfoot>
                                        <tr>
                                            <td colspan="3">For the full list of ISO language codes, please visit: <a href="http://www.iana.org/assignments/language-subtag-registry/language-subtag-registry">IANA Subtag Registry</a></td>
                                        </tr>
                                        </tfoot>
                                        <tbody>
                                        <tr>
                                            <td>Canada</td>
                                            <td>English</td>
                                            <td>en-ca</td>
                                        </tr>
                                        <tr>
                                            <td>Canada</td>
                                            <td>French</td>
                                            <td>fr-ca</td>
                                        </tr>
                                        <tr>
                                            <td>Korea</td>
                                            <td>English</td>
                                            <td>en-ko</td>
                                        </tr>
                                        <tr>
                                            <td>Korea</td>
                                            <td>Korean</td>
                                            <td>ko</td>
                                        </tr>
                                        <tr>
                                            <td>Mexico</td>
                                            <td>English</td>
                                            <td>en-mx</td>
                                        </tr>
                                        <tr>
                                            <td>Mexico</td>
                                            <td>Spanish</td>
                                            <td>es-mx</td>
                                        </tr>
                                        <tr>
                                            <td>US</td>
                                            <td>English</td>
                                            <td>en-us</td>
                                        </tr>
                                        <tr>
                                            <td>US</td>
                                            <td>Spanish</td>
                                            <td>es-us</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <p>&nbsp;</p>
                                    <ol start="2">
                                    <li>Field validation should be handled server-side as much as possible; client side used in this style guide is for demonstration purposes only.</li>
                                    </ol>
                            </div>
                        </div>
                    
                    </div>
                </dd>
            </dl>
            
        </div>
    </div>
    <div class="row">
        <div class="column small-12 large-12">
            <form data-abide name="form1" id="form1">
                <fieldset>
                <legend>Field Set:</legend>
                    <div class="row">
                        <div class="large-8 columns">
                            <p><label>You must fill in the boxes marked <small><sup class="fa fa-asterisk"></sup></small></label></p>
                        </div>
                            
                    </div>
                    <div class="row toggle">
                        <div class="large-12 columns">
                            <label for="name">Your Name <small><sup class="fa fa-asterisk"></sup></small></label>
                            <input type="text" name="name" aria-label="Name" placeholder="Name" required pattern="[a-zA-Z]+" class="radius" autocomplete="off">
                            <small class="error"><i class="fa fa-exclamation-circle"></i> Name is required.</small>
                        </div>
                    </div>
                    <div class="row toggle">
                        <div class="large-4 columns">
                            <label for="ssn">Social Security Number</label>
                            <input type="text" name="ssn" class="ssn" aria-label="Social Security Number" placeholder="555-55-5555" class="radius" autocomplete="off">
                        </div>
                        <div class="large-4 columns">
                            <label for="ein">Employer Identification Number (EIN)</label>
                            <input type="text" name="ein" class="ein" aria-label="Employer Identification Number (EIN)" placeholder="99-9999999" class="radius" autocomplete="off">
                        </div>
                        <div class="large-4 columns">
                            <label for="numOnly">Quantity</label>
                            <input type="number" name="numOnly" class="numOnly" aria-label="Quantity" value="1" min="0" class="radius" pattern="number" autocomplete="off">
                            <small class="error"><i class="fa fa-exclamation-circle"></i> Numbers Only.</small>
                        </div>
                    </div>
                    <div class="row toggle">
                        <div class="large-4 columns">
                            <div class="row collapse">
                                <div class="small-10 columns">
                                    <label for="datePicker" id="datePickerLabel">Date Picker</label>
                                </div>
                                <div class="small-2 columns">
                                    <div style="text-align:right;">
                                        <span data-tooltip aria-haspopup="true" class="has-tip tip-left" title="This field will use the native date picker if supported.  In browsers or devices that don't have a native date picker, it will fall back to Foundation's date picker."><i class="fa fa-question-circle"></i></span> 
                                    </div>
                                </div>
                            </div>
                            
                            <input type="date" id="datePicker" name="datePicker" aria-labelledby="datePickerLabel" class="radius datePicker" autocomplete="off" data-date-format="mm/dd/yyyy" placeholder="mm/dd/yyyy">
                            <small class="error"><i class="fa fa-exclamation-circle"></i> Something's rotten in the state of validation.</small>
                        </div>
                        <div class="large-4 columns">
                            <label for="dateFields" id="dateFieldsLabel">Masked Date Field</label>
                            <input type="text" id="dateFields" name="dateFields" aria-labelledby="dateFieldsLabel" class="radius dateFields" autocomplete="off" pattern="month_day_year" data-date-format="mm/dd/yyyy" placeholder="mm/dd/yyyy">
                            <small class="error"><i class="fa fa-exclamation-circle"></i> Please Enter a Valid Date.</small>
                        </div>
                        <div class="large-4 columns">
                            <label>Split Date Fields</label>
                            <div class="row">
                                <div class="small-3 columns">
                                    <input id="monthField" name="monthField" class="radius" type="text" maxlength="2" size="2" onkeyup="moveOnMax(this,'dayField')">
                                </div>
                                <div class="small-1 columns">
                                    <span>/</span>
                                </div>
                                <div class="small-3 columns">
                                    <input id="dayField" name="dayField" class="radius" type="text" maxlength="2" size="2" onkeyup="moveOnMax(this,'yearField')">
                                </div>
                                <div class="small-1 columns">
                                    <span>/</span>
                                </div>
                                <div class="small-4 columns end">
                                    <select class="radius" id="yearField" name="yearField">
                                        <option value="2015">2015</option>
                                        <option value="2016">2016</option>
                                        <option value="2017">2017</option>
                                        <option value="2018">2018</option>
                                        <option value="2019">2019</option>
                                        <option value="2020">2020</option>
                                        <option value="2021">2021</option>
                                        <option value="2022">2022</option>
                                        <option value="2023">2023</option>
                                        <option value="2024">2024</option>
                                        <option value="2025">2025</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row toggle">
                        <div class="large-4 columns">
                            <div class="row collapse">
                                <div class="small-10 columns">
                                    <label for="phone">Phone Number <small><sup class="fa fa-asterisk"></sup></small></label>
                                </div>
                                <div class="small-2 columns">
                                    <div style="text-align:right;">
                                        <span data-tooltip aria-haspopup="true" class="has-tip tip-left" title="This field uses both data validation and masking to ensure only the appropriate content is entered."><i class="fa fa-question-circle"></i></span> 
                                    </div>
                                </div>
                            </div>
                            <input type="tel" name="phone" class="usPhone" aria-label="Phone Number" placeholder="(555) 555-5555" class="radius" required>
                            <small class="error"><i class="fa fa-exclamation-circle"></i> Please enter a valid telephone number.</small>
                        </div>
                        <div class="large-4 columns">
                            <label for="mxphone">12 Digit Phone Number Example</label>
                            <input type="tel" name="mxphone" class="mxPhone" aria-label="Phone Number" placeholder="(55) 55 5555 5555" class="radius" autocomplete="off">
                        </div>
                        <div class="large-4 columns">
                            <label for="url">Website</label>
                            <div class="row collapse prefix-radius">
                                <div class="small-2 columns">
                                    <span class="prefix">http://</span>
                                </div>
                                <div class="small-10 columns">
                                    <input type="url" name="url" aria-label="Website" placeholder="Website" class="radius" autocomplete="off">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row toggle">
                        <div class="column large-4 small-12">
                            <label>Password Label</label>
                            <input type="password" placeholder="Password" class="radius" autocomplete="off">
                        </div>
                        <div class="column large-4 small-12">
                            <label>Select Label</label>
                            <select class="radius">
                                <optgroup label="Face">
                                    <option value="neriumAD">NeriumAD</option>
                                    <option value="comboPack">NeriumAD Combo Pack</option>
                                </optgroup>
                                <optgroup label="Body">
                                    <option value="firm">Nerium Firm</option>
                                </optgroup>
                                <optgroup label="Mind">
                                    <option value="eht">Nerium EHT</option>
                                </optgroup>
                            </select>
                        </div>
                        <div class="column large-4 small-12">
                            <label>Range Slider Label</label>
                            <div class="row collapse hide">
                                <div class="small-10 columns">
                                    <input type="range" id="rangeInput" value="50" step="5" max="100" min="0" list="demoData" oninput="this.form.rangeValue.value=this.value" />
                                    <datalist id="demoData">
                                        <option>0</option>
                                        <option>20</option>
                                        <option>40</option>
                                        <option>60</option>
                                        <option>80</option>
                                        <option>100</option>
                                    </datalist>
                                </div>
                                <div class="small-2 columns text-center">
                                    <div class="sliderOutput"><output id="rangeValue" name="rangeValue" for="rangeInput">50</output>%</div>
                                </div>
                            </div>
                            <div class="row collapse">
                                <div class="small-10 columns">
                                    <div class="range-slider radius" data-slider data-options="step:5;initial: 50;display_selector: #sliderOutput;"> 
                                        
                                        <span class="range-slider-handle radius" role="slider" tabindex="0" aria-label="Range Slider Label"></span> 
                                        <span class="range-slider-active-segment"></span>
                                        <div class="ruler">
                                            <ul aria-hidden="true">
                                                <li>0%</li>
                                                <li>10%</li>
                                                <li>20%</li>
                                                <li>30%</li>
                                                <li>40%</li>
                                                <li>50%</li>
                                                <li>60%</li>
                                                <li>70%</li>
                                                <li>80%</li>
                                                <li>90%</li>
                                            </ul>
                                        </div>
                                        <input type="hidden"> 
                                    </div>
                                </div>
                                <div class="small-2 columns text-center">
                                    <div class="sliderOutput"><span id="sliderOutput"></span>%</div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="row toggle">
                        <div class="column large-4 medium-4 small-12">
                            <label>Switch Label</label>
                            <div class="switch radius">
                                <input id="exampleCheckboxSwitch" type="checkbox">
                                <label for="exampleCheckboxSwitch"></label>
                            </div>
                        </div>
                        <div class="column large-4  medium-4 small-12">
                            <label>Radio Label</label>
                            <div class="row">
                                <div class="column large-6 small-12">
                                    <label><input type="radio" name="RadioGroup1" value="radio" id="RadioGroup1_0"> Radio 1</label>
                                </div>
                                <div class="column large-6 small-12">
                                    <label><input type="radio" name="RadioGroup1" value="radio" id="RadioGroup1_1"> Radio 2</label>
                                </div>
                            </div>
                        </div>
                        <div class="column large-4  medium-4 small-12">
                            <label>Checkbox Label</label>
                            <div class="row">
                                <div class="column small-12 large-6">
                                    <label><input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_0"> Checkbox 1</label>
                                </div>
                                <div class="column small-12 large-6">
                                    <label><input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_1"> Checkbox 2</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row toggle">
                        <div class="large-12 columns">
                            <label>Textarea Label</label>
                            <textarea class="radius" autocomplete="off"></textarea>
                        </div>
                    </div>
                    <div class="row toggle">
                        <div class="large-12 columns">
                            <div style="text-align:center;">
                                <input class="button button-primary button-rounded" type="reset" id="resetBtn" value="Reset" />
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
            <hr/>
        </div>
    </div>
</section>

<section id="tabbox">
    <div class="row">
        <div class="column small-12 large-12">
            <h2 class="styleGuideHeading">Tab Boxes</h2>
        </div>
    </div>
    <div class="row">
        <div class="column small-12 large-12 show-for--small-down">
            <ul class="accordion flexi" data-accordion="">
                <li class="accordion-navigation active">
                    <a href="#panel3-1">Product Details</a>
                    <div id="panel3-1" class="content active">
                        <hr />
                        <p>First panel content goes here...</p>
                    </div>
                </li>
                <li class="accordion-navigation">
                    <a href="#panel3-2">How to Use</a>
                        <div id="panel3-2" class="content">
                            <hr />
                            <p>Second panel content goes here...</p>
                        </div>
                </li>
                <li class="accordion-navigation">
                    <a href="#panel3-3">Ingredients</a>
                        <div id="panel3-3" class="content">
                            <hr />
                            <p>Third panel content goes here...</p>
                        </div>
                </li>
                <li class="accordion-navigation">
                    <a href="#panel3-4">Customer Results</a>
                        <div id="panel3-4" class="content">
                            <hr />
                            <p>Fourth panel content goes here...</p>
                        </div>
                </li>
                <li class="accordion-navigation">
                    <a href="#panel3-5">As Seen In</a>
                        <div id="panel3-5" class="content">
                            <hr />
                            <p>Fifth panel content goes here...</p>
                        </div>
                </li>
            </ul>
        </div>
        <div class="column small-12 large-12 show-for-medium-up">
            <dl class="tabs flexi" data-tab="">
                <dd class="active">
                    <a href="#panel2-1">Product Details</a>
                </dd>
                <dd>
                    <a href="#panel2-2">How to Use</a>
                </dd>
                <dd>
                    <a href="#panel2-3">Ingredients</a>
                </dd>
                <dd>
                    <a href="#panel2-4">Customer Results</a>
                </dd>
                <dd>
                    <a href="#panel2-5">As Seen In</a>
                </dd>
            </dl>
            <div class="tabs-content">
                <div id="panel2-1" class="content active">

                    <p>First panel content goes here...</p>
                </div>
                <div id="panel2-2" class="content">
                    <p>Second panel content goes here...</p>
                </div>
                <div id="panel2-3" class="content">
                    <p>Third panel content goes here...</p>
                </div>
                <div id="panel2-4" class="content">
                    <p>Fourth panel content goes here...</p>
                </div>
                <div id="panel2-5" class="content">
                    <p>Fifth panel content goes here...</p>
                </div>
            </div>
            <hr/>
        </div>
    </div>
</section>