//Settings for a new foundation-based project

@import "styleguide/_variables";

// a. Base
// - - - - - - - - - - - - - - - - - - - - - - - - -

// This is the default html and body font-size for the base rem value.
// $rem-base: 16px;

// Allows the use of rem-calc() or lower-bound() in your settings
@import 'foundation/functions';

// Always leave this false and turn on features individually
$include-html-classes: false;

$include-print-styles: true;
$include-html-global-classes: true; 

// Leave these turned off if you don't need them in the project
$include-html-accordion-classes: false;
$include-html-alert-classes: false;
$include-html-nav-classes: false;
$include-html-button-classes: false;
$include-html-button-classes: false;
$include-html-clearing-classes: false;
$include-html-dropdown-classes: false;
$include-html-button-classes: false;
$include-html-form-classes: false;
$include-html-icon-bar-classes: false;
$include-html-inline-list-classes: false;
$include-html-joyride-classes: false;
$include-html-keystroke-classes: false;
$include-html-label-classes: false;
$include-html-magellan-classes: false;
$include-html-off-canvas-classes: false;
$include-html-orbit-classes: false;
$include-pagination-classes: false;
$include-html-panel-classes: false;
$include-html-pricing-classes: false;
$include-html-media-classes: false;
$include-html-range-slider-classes: false;
$include-html-reveal-classes: false;
$include-html-nav-classes: false;
$include-html-button-classes: false;
$include-html-nav-classes: false;
$include-html-form-classes: false;
$include-html-table-classes: false;
$include-html-tabs-classes: false;
$include-html-tooltip-classes: false;
$include-html-media-classes: false;

// Since this is a new project, we always need these styles output
$include-html-top-bar-classes: true;
$include-html-type-classes: true;
$include-html-visibility-classes: true;
$include-accessibility-classes: true;
$include-table-visibility-classes: true;
$include-legacy-visibility-classes: true;
$include-html-grid-classes: true;
$include-xl-html-grid-classes: true;
$include-html-block-grid-classes: true;
$include-xl-html-block-grid-classes: true;