//Settings for an existing foundation-based project

@import "styleguide/_variables";

// a. Base
// - - - - - - - - - - - - - - - - - - - - - - - - -

// This is the default html and body font-size for the base rem value.
// $rem-base: 16px;

// Allows the use of rem-calc() or lower-bound() in your settings
@import 'foundation/functions';

// We're turning off all of foundations css output
$include-html-classes: false;

$include-print-styles: false;
$include-html-global-classes: false; 

// These should always be turned off - we're outputting our own styles
$include-html-accordion-classes: false;
$include-html-alert-classes: false;
$include-html-nav-classes: false;
$include-html-button-classes: false;
$include-html-button-classes: false;
$include-html-clearing-classes: false;
$include-html-dropdown-classes: false;
$include-html-button-classes: false;
$include-html-form-classes: false;
$include-html-icon-bar-classes: false;
$include-html-inline-list-classes: false;
$include-html-joyride-classes: false;
$include-html-keystroke-classes: false;
$include-html-label-classes: false;
$include-html-magellan-classes: false;
$include-html-off-canvas-classes: false;
$include-html-orbit-classes: false;
$include-pagination-classes: false;
$include-html-panel-classes: false;
$include-html-pricing-classes: false;
$include-html-media-classes: false;
$include-html-range-slider-classes: false;
$include-html-reveal-classes: false;
$include-html-nav-classes: false;
$include-html-button-classes: false;
$include-html-nav-classes: false;
$include-html-form-classes: false;
$include-html-table-classes: false;
$include-html-tabs-classes: false;
$include-html-tooltip-classes: false;

$include-html-media-classes: false;

// If you're building your project from scratch, set these to true
$include-html-top-bar-classes: true;
$include-html-type-classes: false;
$include-html-visibility-classes: false;
$include-accessibility-classes: false;
$include-table-visibility-classes: false;
$include-legacy-visibility-classes: false;
$include-html-grid-classes: false;
$include-xl-html-grid-classes: false;
$include-html-block-grid-classes: false;
$include-xl-html-block-grid-classes: false;