/* Nerium Styleguide Website Styles
- - - - - - - - - - - - - - - - - - - - - - - - - */
.styleguide-header {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #53ABAE none;
    height: 100%;
    margin-bottom: 2rem;
    padding: 0;
    min-height: 100vh;
    text-align: center;
    
    @at-root #{&}__heading {
        color: #fff;
        font-family: "Open Sans", sans-serif;
        font-weight: 300;
    }
}

h1.headline,
h2.headline,
h3.headline,
h4.headline,
h5.headline,
h6.headline {
    font-family: "Noto Serif", "Times New Roman", Times, serif;
    font-weight: 700;
}

h1.thin,
h2.thin,
h3.thin,
h4.thin,
h5.thin,
h6.thin {
    font-family: "Open Sans", Roboto, Arial, sans-serif;
    font-weight: 300;
}

h5.thin,
h6.thin {
    font-weight: 400;
}

.magazine {
    line-height: 1em;
    text-transform: uppercase;
}

h1.styleGuideHeading {
    color: #53ABAE;
    font-family: "Open Sans", Roboto, Arial, sans-serif;
    font-weight: 300;
    border-bottom: 1px solid #53ABAE;
}

h2.styleGuideHeading {
    color: #565758;
    font-family: "Open Sans", Roboto, Arial, sans-serif;
    font-weight: 300;
}

h3.styleGuideHeading,
h4.styleGuideHeading {
    color: #565758;
    font-family: "Open Sans", Roboto, Arial, sans-serif;
    font-weight: 400;
}

header .styleGuideHeading,
header div.neriumLogo {
    text-align: center;
}

.colorCard {
    td {
        text-align: left;
        font-size: .75rem;
    }
    
    p {
        text-align: center;
        background-color: #fff;
        font-size: .8rem;
        border: 0 none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    }
    
    .colorChip {
        height: 8rem;
        margin: auto;
        text-align: center;
        border: 1px solid rgba(0, 0, 0, 0.15);
    }    
    
    .neriumBlue {
        background-color: $primary-nerium-blue;
    }

    .neriumGrey {
        background-color: #B8B9BC;
    }

    .appleGreen {
        background-color: #8DC63F;
    }

    .happinessOrange {
        background-color: #E68F1A;
    }

    .darkGrey {
        background-color: #565758;
    }

    .lightGrey {
        background-color: #F0F2F3;
    }

    .skyBlue {
        background-color: #EBF4F5;
    }

    .lightGreen {
        background-color: #F3F8ED;
    }

    .lightOrange {
        background-color: #FCF4E8;
    }

    .redAlert {
        background-color: #E41500;
    }

    .NeriumBlue10 {
        background-color: #41888B;
    }

    .neriumGrey10 {
        background-color: #9B9DA1;
    }

    .AppleGreen10 {
        background-color: #71A130;
    }

    .HappinessOrange10 {
        background-color: #B87214;
    }

    .SkyBlue10 {
        background-color: #C9E1E4;
    }

    .NeriumBlue30 {
        background-color: #BDDFE0;
    }

    .AppleGreen30 {
        background-color: #D5EAB8;
    }
    .neriumGrey25 {
        background-color: #F7F8F8;
    }
    .LightBlue {
        background-color: #BAE8ED;
    }
    .LightBlueDarken10 {
        background-color: #8ED9E1;
    }
    .WhiteDarken10 {
        background-color: #E6E6E6;
    }
    .black56 {
        background-color: #6f6f6f;
    }
    .black80 {
        background-color: #333333;
    }
    .black87 {
        background-color: #222222;
    }
}

hr.big.fat {
    border-width: 2rem 0 0;
    border-color: #53ABAE;
    margin: 1.25rem 0 2rem;
}
aside.headings,
aside.font {
    border-left: 10px solid rgba(0, 0, 0, 0.05);
    padding-left: 25px;
    margin-bottom: 25px;
}
aside.headings h1:before,
aside.headings h2:before,
aside.headings h3:before,
aside.headings h4:before,
aside.headings h5:before,
aside.headings h6:before,
aside.headings p:before,
aside.headings button:before,
aside.buttons h5.buttonLabel {
    font-size: 10px;
    text-transform: uppercase;
    display: block;
    line-height: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    color: #53ABAE;
    font-family: "Open Sans", Roboto, Arial, sans-serif;
    font-weight: 600;
    margin-left: -15px;
}
aside.headings h1:before {
    content: "h1";
}
aside.headings h2:before {
    content: "h2";
}
aside.headings h3:before {
    content: "h3";
}
aside.headings h4:before {
    content: "h4";
}
aside.headings h5:before {
    content: "h5";
}
aside.headings h6:before {
    content: "h6";
}
aside.headings p:before {
    content: "p";
}
aside.headings button:before {
    content: "button";
}
aside.buttons h5.buttonLabel {
    margin-left: 0;
}
aside.buttons .button {
    margin-bottom: 0.5rem;
    margin-right: .33rem
}
aside.font .styleGuideHeading {
    font-size: 10px;
    text-transform: uppercase;
    display: block;
    line-height: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    color: #53ABAE;
    font-family: "Open Sans", Roboto, Arial, sans-serif;
    font-weight: 600;
}
.required {
    color: #e41500;
}
.button.social {
    font-size: 23px;
}
.button.social.button-borderless:after {
    content: "";
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    padding: 0 .45em 0 .3em;
}
.button.social.button-borderless:last-child:after {
    border-right: none transparent;
}
.breadcrumbs > *:before,
[aria-label="breadcrumbs"] [aria-hidden="true"]:after {
    font-family: "FontAwesome";
    content: "";
    color: #53abae;
}
.breadcrumbs.plain {
    border: 0 none;
    background: none transparent;
}
.pricing-table .cta-button {
    padding: 1.25rem 0 1.2rem;
}
.accordion .accordion-navigation > a,
.accordion dd > a,
.accordion .content {
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}
.accordion.plain .accordion-navigation > a,
.accordion.plain dd > a {
    background: transparent none;
    font-weight: 600;
    color: #53ABAE;
    padding-left: 2rem;
}
.accordion.plain .accordion-navigation > a:hover,
.accordion.plain dd > a:hover {
    color: #41888b;
}
.accordion.primary .accordion-navigation > a,
.accordion.primary dd > a {
    background: #53ABAE none;
    color: #fff;
}
.accordion.primary .accordion-navigation > a:hover,
.accordion.primary dd > a:hover {
    background: #41888b none;
}
.accordion.info .accordion-navigation > a,
.accordion.info dd > a {
    background-color: #C9E1E4;
}
.accordion.info .accordion-navigation > a:hover,
.accordion.info dd > a:hover {
    background: #BDDFE0 none;
}
.accordion-navigation > a:before {
    font-family: "FontAwesome";
    content: "";
    z-index: 2;
    float: left;
    font-weight: 400;
    color: inherit;
    margin-left: -1.333rem;
}
.accordion-navigation.active > a:before {
    content: "";
}
.accordion.plain.primary-tab .accordion-navigation.active > a,
.accordion.plain.primary-tab dd.active > a {
    background: #53ABAE none;
    color: #fff;
}
.accordion.plain.primary-tab .accordion-navigation.active > a:hover,
.accordion.plain.primary-tab dd.active > a:hover {
    background: #41888b none;
}
.modalTitle strong {
    color: #53abae;
}
.modalTitle strong,
.modalTitle span {
    display: block;
}
.modalTitle span.ending {
    font-size: .8rem;
    width: 96%;
}
.productSuggestions {
    padding-top: 1.5rem;
    font-size: .88rem;
}
.modalTitle + .upsell {
    font-size: .75rem;
    width: 75%;
}
.upsellProduct,
.upsellProduct small {
    line-height: 1;
}
.upsellProduct + button {
    padding: 0 !important;
}
div.alert-box i.fa {
    vertical-align: middle;
    width: 30px;
    text-align: center;
}




.top-bar {
    background-color: #fff;
}

.top-bar.expanded .title-area,
.top-bar-section ul li,
.top-bar-section li:not(.has-form) a:not(.button) {
    background-color: transparent;
    color: #565758;
}

.top-bar-section ul li:hover:not(.has-form) > a,
.top-bar-section li:hover:not(.has-form) a:not(.button) {
    background-color: #41888B;
}

.top-bar-section ul.dropdown {
    background: none repeat scroll 0 0 rgba(65, 136, 139, 0.95);
    border-color: #41888b;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
}

.top-bar-section ul.dropdown li.title.back.js-generated {
    background: none repeat scroll 0 0 rgba(65, 136, 139, 0.95);
    color: #fff;
}

.top-bar.expanded .top-bar-section ul.dropdown li a {
    color: #fff;
}
.top-bar.expanded .top-bar-section ul.dropdown li.parent-link,
.topMenu .top-bar-section .dropdown li.parent-link {
    background-color: rgba(0, 0, 0, 0.25);
}
.topMenu .top-bar-section .dropdown li.parent-link {
    border: 0;
}
.topMenu .top-bar-section .dropdown li.parent-link a {
    font-size: 0.625rem;
    margin-bottom: 0;
    padding: 0.3rem 0.9375rem;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    line-height: 1rem;
    vertical-align: middle;
}
.top-bar.expanded .top-bar-section ul.dropdown li.parent-link a {
    font-size: 1rem;
}
.top-bar.expanded .top-bar-section ul.dropdown li.parent-link a i.fa.fa-caret-down,
.topMenu .top-bar-section .dropdown li.parent-link a i.fa.fa-caret-down {
    display: none;
}
.top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button) {
    background-color: transparent;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}
.top-bar-section .dropdown li:hover:not(.has-form):not(.active) > a:not(.button) {
    background-color: rgba(0, 0, 0, 0.05);
}
.top-bar .name h3,
.top-bar-section ul.right li h3,
.top-bar-section ul.right li h4,
.top-bar-section ul.right li h5,
.top-bar-section ul.right li h6 {
    margin-right: .35rem;
    margin-left: .35rem;
}
.top-bar-section .dropdown li label {
    background-color: transparent;
    color: #fff;
    font-weight: 600;
}
.top-bar-section .has-dropdown > a {} .top-bar-section .has-dropdown > a::after {
    display: none !important;
    height: 1px;
    width: 1px;
    margin: 0;
    padding: 0;
}
.topMenu .top-bar .button,
.topMenu .top-bar button {
    font-size: 12px;
    margin: 5px 5px 0 0;
    padding: 0.3em 2em 0.3rem;
    line-height: normal;
}


a.closer {
    margin-left: 5px;
    color: rgba(255, 255, 255, 0.74);
}
a.closer:hover {
    color: rgba(255, 255, 255, 1)
}
.side-nav li.divider {
    border-top: 1px solid #ddd;
}
.progress.highlight .meter,
.progress.warning .meter {
    background: none repeat scroll 0 0 #E68F1A;
    display: block;
    height: 100%;
}
@media only screen and (max-width: 40em) {
    .sub-nav dt,
    .sub-nav dd,
    .sub-nav li {
        margin: 0 0 0 .2em;
    }
    .sub-nav dt a,
    .sub-nav dd a,
    .sub-nav li a,
    .sub-nav dt.active a,
    .sub-nav dd.active a,
    .sub-nav li.active a {
        font-size: 0.75rem;
        font-family: "Noto Sans", "Open Sans", Roboto, Arial, sans-serif;
        padding: 0.1875rem .3rem
    }
    .sub-nav dt:after,
    .sub-nav dd:after,
    .sub-nav li:after {
        margin: 0 3px 0 3px;
    }
    .sub-nav dt:last-child:after,
    .sub-nav dd:last-child:after,
    .sub-nav li:last-child:after {} div.cartConfirmation {
        padding: 1rem !important;
    }
}
@media only screen and (min-width: 40.063em) {
    .sub-nav dt,
    .sub-nav dd,
    .sub-nav li {
        clear: none;
    }

    table.colorCard {
        width: 174px;
    }
    div.cartConfirmation {
        padding: 1rem !important;
        max-width: 50%;
    }
}
@media only screen and (min-width: 64.063em) {
    .sub-nav dt,
    .sub-nav dd,
    .sub-nav li {
        clear: none;
    }

    table.colorCard {
        width: 174px;
    }
    div.cartConfirmation {
        padding: 1rem !important;
        max-width: 20%;
    }
}
/* Chart Tweaks */

.ct-chart .ct-series.ct-series-a .ct-area,
.ct-chart .ct-series.ct-series-a .ct-slice:not(.ct-donut) {
    fill: #53abae !important;
}
.ct-chart .ct-series.ct-series-b .ct-area,
.ct-chart .ct-series.ct-series-b .ct-slice:not(.ct-donut) {
    fill: #8dc63f !important;
}
.ct-chart .ct-series.ct-series-c .ct-area,
.ct-chart .ct-series.ct-series-c .ct-slice:not(.ct-donut) {
    fill: #e68f1a !important;
}
.ct-chart .ct-series.ct-series-d .ct-area,
.ct-chart .ct-series.ct-series-d .ct-slice:not(.ct-donut) {
    fill: #8ED9E1 !important;
}
.ct-chart .ct-series.ct-series-a .ct-bar,
.ct-chart .ct-series.ct-series-a .ct-line,
.ct-chart .ct-series.ct-series-a .ct-point,
.ct-chart .ct-series.ct-series-a .ct-slice.ct-donut {
    stroke: #8dc63f !important;
}
.ct-chart .ct-series.ct-series-b .ct-bar,
.ct-chart .ct-series.ct-series-b .ct-line,
.ct-chart .ct-series.ct-series-b .ct-point,
.ct-chart .ct-series.ct-series-b .ct-slice.ct-donut {
    stroke: #53abae !important;
}
.ct-chart .ct-series.ct-series-c .ct-bar,
.ct-chart .ct-series.ct-series-c .ct-line,
.ct-chart .ct-series.ct-series-c .ct-point,
.ct-chart .ct-series.ct-series-c .ct-slice.ct-donut {
    stroke: #e68f1a !important;
}
.ct-chart .ct-series.ct-series-d .ct-bar,
.ct-chart .ct-series.ct-series-d .ct-line,
.ct-chart .ct-series.ct-series-d .ct-point,
.ct-chart .ct-series.ct-series-d .ct-slice.ct-donut {
    stroke: #8ED9E1 !important;
}
.ct-chart .ct-chart-pie .ct-label,
.ct-chart .ct-chart-pie .ct-label.ct-horizontal {
    color: rgba(255, 255, 255, 0.75) !important;
    fill: rgba(255, 255, 255, 0.75) !important;
    font-weight: 600;
    text-anchor: middle;
}
.ct-chart.barChartDemo .ct-label,
.ct-chart.barChartDemo .ct-label.ct-horizontal {
    text-align: center !important;
    text-anchor: middle;
}
.sub-nav.block {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: flex-start;
    -moz-box-pack: flex-start;
    -ms-flex-pack: flex-start;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.sub-nav.block dt,
.sub-nav.block dd,
.sub-nav.block li {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin-left: 0.313rem;
}
.sub-nav.block dt.subNavHeading,
.sub-nav.block dd.subNavHeading,
.sub-nav.block li.subNavHeading {
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    margin-left: 1rem;
}
.sub-nav.block a {
    display: block;
    vertical-align: middle;
    background-color: #efefef;
    color: #6f6f6f;
}
.sub-nav.block a:hover {
    color: #fff;
    background-color: rgba(83, 171, 174, .7)
}
/* Guided Progress Bar */

.guided.progress {
    height: 3.750em;
    padding: 0.75rem;
    vertical-align: middle;
    margin: 0 0 0.625rem;
}
.guided.progress.radius,
.guided.progress.radius ul {
    border-radius: 5px;
}
.guided.progress.radius ul li:first-child {
    border-radius: 5px 0 0 5px;
}
.guided.progress.radius ul li:last-child {
    border-radius: 0 5px 5px 0;
}
.guided.progress ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 1);
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 1);
    width: 100%;
    background: #e9e9e9 none;
}
.guided.progress.plain {
    padding: 0.75rem 0;
    background: transparent none !important;
}
.guided.progress ul li {
    font-size: 0.75rem !important;
    font-weight: 400;
    text-transform: uppercase;
    vertical-align: middle;
    text-align: center;
    margin: 0;
    padding: .45rem 1rem;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    border: 0 none;
    background: url(progressBar_default.png) #E9E9E9 no-repeat right center;
}
.guided.progress ul li.current {
    background-image: url(progressBar_current.png);
    background-color: #53ABAE;
}
.guided.progress ul li.current a {
    color: #fff;
}
.guided.progress ul li.current a:hover {
    color: rgba(255, 255, 255, 0.75);
}
.guided.progress ul li.visited a {
    color: rgba(86, 87, 88, 0.75);
}
.guided.progress ul li.visited a:hover {
    color: rgba(86, 87, 88, 0.95);
}
.guided.progress ul li.visited {
    background-image: url(progressBar_visited.png);
    background-color: #9CCDD2;
}
.guided.progress ul li.visited.stepBefore {
    background-image: url(progressBar_stepBefore.png);
    background-color: #9CCDD2;
}
.guided.progress ul li:first-child {} .guided.progress ul li:last-child {
    background-position: center left;
}
.guided.progress h1,
.guided.progress h2,
.guided.progress h3,
.guided.progress h4,
.guided.progress h5,
.guided.progress h6,
.guided.progress .fa {
    color: #53abae;
    text-transform: uppercase;
}
.guided.progress .accordion dd div.content h6 {
    display: inline;
    margin-right: 1em;
}
.guided.progress .accordion dd div.content hr {
    border-color: #53ABAE;
}
.guided.progress .accordion dd div.content hr.space {
    margin: 0.75rem 0 0;
    border: 0 none;
}
.guided.progress .accordion dd div.content div.borderBelow + hr {
    margin-top: 0;
    margin-bottom: 2em;
}
/* Mini Profile Constructed with Vcard */

.vcard.mini-profile {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    align-content: flex-start;
    border: 0 none;
    margin: 0 0 1.25rem;
    padding: 0;
    border-radius: 0 0 5px 5px;
    background-color: #EBF4F5;
    width: 100%;
}
.vcard.mini-profile li {
    font-size: 0.75rem !important;
    font-weight: 400;
    vertical-align: middle;
    padding: 0 0.8345rem;
    margin: auto 0;
    flex: 0 1 auto;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
}
.vcard.mini-profile li.vpicture {
    background-color: #53ABAE;
    color: #fff;
    border-radius: 0 0 0 5px;
    padding: 0 0 0 0.8345rem;
    height: 45px;
    line-height: 45px;
    vertical-align: middle;
}
.vcard.mini-profile li.vpicture img {
    padding: 0;
    margin: 0 0 0 0.8345rem;
    vertical-align: top;
    border-left: 1px solid rgba(255, 255, 255, 0.60);
    display: inline-block;
}
.vcard.mini-profile li.fn {
    font-weight: 600;
}
.vcard.mini-profile li.profile {
    text-align: left;
    padding: 0 0 0 0.8345rem;
}
.vcard.mini-profile li.profile i.fa {
    color: #41888B;
    font-weight: normal;
    font-size: 1rem;
}

/*
.tabs.flexi {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    position: relative;
    top: 1px;
}
.tabs.flexi dd {
    float: none;
    flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    text-align: center;
    margin: 0 2px;
}
.tabs.flexi dd:first-child {
    margin-left: 0;
}
.tabs.flexi dd:last-child {
    margin-right: 0
}
.tabs.flexi dd a,
.tabs.flexi .tab-title a,
.tabs.flexi dd > a,
.tabs.flexi .tab-title > a,
.accordion.flexi .accordion-navigation > a,
.accordion.flexi dd > a {
    font-weight: 600;
    font-family: "Noto Sans", "Open Sans", Roboto, Arial, sans-serif;
    font-size: .9rem;
    color: #fff;
}
.tabs.flexi dd > a,
.tabs.flexi .tab-title > a,
.accordion.flexi .accordion-navigation > a,
.accordion.flexi dd > a {
    background: none #53abae;
    border-top: 1px solid transparent;
    border-bottom: 1px solid #eaeaea;
    border-radius: 2px 2px 0 0;
    padding-left: 2rem;
}
.tabs.flexi dd > a:hover,
.tabs.flexi .tab-title > a:hover,
.accordion.flexi .accordion-navigation > a:hover,
.accordion.flexi dd > a:hover {
    background: none #41888B;
}
.tabs.flexi dd.active a,
.tabs.flexi .tab-title.active a {
    color: #53abae;
    border: 1px solid #eaeaea;
    background: none #f9f9f9;
    border-bottom: 1px solid transparent;
}
.accordion.flexi .accordion-navigation.active > a,
.accordion.flexi dd.active > a {
    color: #41888B;
    border: 1px solid #eaeaea;
    background: none #BDDFE0;
    border-bottom: 1px solid transparent;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}
.tabs.flexi + .tabs-content,
.accordion.flexi .accordion-navigation > .content.active,
.accordion.flexi dd > .content.active {
    border: 1px solid #eaeaea;
    background: none #f9f9f9;
    border-radius: 0 0 2px 2px;
    padding: 0.9375rem;
}
.accordion.flexi .accordion-navigation > .content.active,
.accordion.flexi dd > .content.active {
    border-top: 0 none;
    padding: 0.9375rem 0.9375rem;
}
.accordion.flexi .accordion-navigation > .content.active hr,
.accordion.flexi dd > .content.active hr {
    margin: 0 auto .85rem auto;
}
.accordion.flexi .accordion-navigation > a,
.accordion.flexi dd > a,
.accordion.flexi .accordion-navigation > .content.active,
.accordion.flexi dd > .content.active {
    border-radius: 0;
}
.accordion.flexi li.accordion-navigation > a::before {
    text-shadow: 0;
}
.accordion.flexi li.accordion-navigation.active > a::before {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}
*/


.pricing-table,
.pricing-table .bullet-item {
    border: 0 none;
}
.pricing-table .title {
    background: none transparent;
    color: #53abae;
    font-size: 1.5rem;
}
.pricing-table .subtitle {
    font-size: 1.375rem;
    color: #757a7e;
    padding: 0 0.9375rem 0.9375rem;
}
.pricing-table .price {
    font-family: "Noto Sans", "Open Sans", Roboto, Arial, sans-serif;
    background: transparent none;
    color: inherit;
    font-size: 1.125rem;
}
.pricing-table .ado {
    font-family: "Noto Sans", "Open Sans", Roboto, Arial, sans-serif;
    background: transparent none;
    color: #8DC63F;
    font-size: 1.125rem;
}
.pricing-table .ado span {
    font-size: 0.75em !important;
}
@media only screen and (max-width: 40em) {
    .vcard.mini-profile {
        width: auto;
        -webkit-flex-flow: column wrap;
        flex-flow: column wrap;
        justify-content: flex-start;
    }
    .vcard.mini-profile li {
        width: 100%;
        padding: 0;
        line-height: 2.4;
    }
    .vcard.mini-profile li.profile,
    .vcard.mini-profile li.email {
        padding: 0 0 0 8px;
    }
    .vcard.mini-profile li.fn,
    .vcard.mini-profile li.phone {
        padding: 0 0 0 16px;
    }
    .vcard.mini-profile li.vpicture img {
        display: none;
    }
    .guided.progress {
        height: auto;
        padding: 0.75rem 0.75rem 0.25rem 0.75rem;
        vertical-align: middle;
        margin: 0 0 0.625rem;
    }
    .guided.progress ul {
        margin: 0 0 0.625rem;
    }
    .guided.progress ul li {
        font-weight: 600;
    }
    .guided.progress .accordion dd,
    .guided.progress .accordion dl {
        line-height: 1;
    }
    .guided.progress .accordion dd > a {
        background: transparent none;
        padding: 0;
    }
    .guided.progress .accordion dd div.content.active {
        margin-bottom: .5rem;
    }
}
@media only screen and (min-width: 40.063em) {
    .vcard.mini-profile li {
        padding: 0 0 0 0.8345rem;
    }
    .tabs.flexi dd a,
    .tabs.flexi .tab-title a,
    .tabs.flexi dd > a,
    .tabs.flexi .tab-title > a {
        padding: .75rem 0;
        font-size: .85rem;
    }
}
@media only screen and (min-width: 64.063em) {
    .vcard.mini-profile li {
        padding: 0 0.8345rem;
    }
}

blockquote.pullQuote span {display:block;}
blockquote.pullQuote span.word1 {font-size:2rem;margin-bottom:-25px;font-weight:300;font-family:"Open Sans", Roboto, Arial, sans-serif;}
blockquote.pullQuote span.word2 {font-family:"Noto Serif","Times New Roman", Times, serif;font-weight:700;font-size:4em;margin:-10px 0 0 2rem;}
blockquote.pullQuote span.word3 {color:transparent;}
blockquote.pullQuote span.word3:after {font-family:"FontAwesome";content: "";font-size:3rem;color:#53abae;position:absolute;z-index:-1;margin:-45px 0 0 -30px;}
blockquote.pullQuote span.word4 {float:left;margin:-25px 0 50px 0;font-size:2rem;margin-bottom:-25px;font-weight:300;font-family:"Open Sans", Roboto, Arial, sans-serif;}
blockquote.pullQuote span.word5 {font-family:"Dancing Script",cursive;font-size:5rem;line-height:20px;vertical-align:top;margin:15px 0 25px 30px;}
blockquote.pullQuote span.word6 {margin:0;}
blockquote.pullQuote span.word6,blockquote.pullQuote span.word7,blockquote.pullQuote span.word8 {display:inline;}
blockquote.pullQuote span.word9 {color:transparent;}
blockquote.pullQuote span.word9:after {content: "2";font-size:4rem;color:#53abae;position:absolute;z-index:-1;margin:-20px 0 0 -30px;}
blockquote.pullQuote span.word10 {font-weight:700;font-family:"Open Sans", Roboto, Arial, sans-serif;font-size:1.2em;margin:-20px 0 0 45px;}
blockquote.pullQuote span.word11 {margin:-9px 0 0 100px;font-weight:300;font-family:"Open Sans", Roboto, Arial, sans-serif;font-size:1.3rem;}
blockquote.pullQuote cite {margin:15px 10px;}

.label.highlight {background-color:#E68F1A;color:#FFF;}