#{$prefix}accordion {
    @include clearfix;
    margin-bottom: 0;
    margin-left: 0;
    
    @at-root #{&}__navigation {
        display: block;
        margin-bottom: 0 !important;
    }
    
    @at-root #{&}__content { 
        display: none;
        padding: $accordion-content-padding;
        &.active {
            background: $accordion-content-active-bg-color;
            display: block; 
        }
    }
    
    @at-root #{&}--active #{&}__link { 
        background: $accordion-navigation-active-bg-color; color: $accordion-navigation-active-font-color; 
    }
    
    @at-root #{&}__link {
        background: $accordion-navigation-bg-color;
        color: $accordion-navigation-font-color;
        display: block;
        font-family: $accordion-navigation-font-family;
        font-size: $accordion-navigation-font-size;
        padding: $accordion-navigation-padding;
        &:hover { 
            background: $accordion-navigation-hover-bg-color; 
        }
    }
}

/*

.accordion {


    .accordion-navigation{
    display: block;
    margin-bottom: 0 !important;
    
    &.active > a { 
        background: $accordion-navigation-active-bg-color; color: $accordion-navigation-active-font-color; 
    }
    > a {
        background: $accordion-navigation-bg-color;
        color: $accordion-navigation-font-color;
        display: block;
        font-family: $accordion-navigation-font-family;
        font-size: $accordion-navigation-font-size;
        padding: $accordion-navigation-padding;
        &:hover { background: $accordion-navigation-hover-bg-color; }
    }

    }
}*/
