 
 //List of all alert box styles
 $alert-map: (
  success: (
    bg: $success-color
  ),
  alert: (
    bg: $alert-color
  ),
  secondary: (
    bg: $secondary-color
  ),
  warning: (
    bg: $warning-color
  ),
  info: (
    bg: $info-color
  )
);

#{$prefix}alert-box {
    @include alert;

    //Alert box close button
    @at-root #{&}__close { 
        @include alert-close; 
    }
    
    @at-root #{&}__icon {
        vertical-align: middle;
        width: 30px;
        text-align: center;
    } 

    //Alert box close state
    @at-root #{&}--close { 
        opacity: 0; 
    }
    
    //Create all alert box styles
    @each $label, $map in $alert-map {
        @at-root #{&}--#{$label} {
            @include alert-style(map-get($map, bg))
        }
    } 
}