// Nerium Button Styles
// - - - - - - - - - - - - - - - - - - - - - - - - -
$nerium-button-default-bg: #53abae !default;
$nerium-button-cta-bg: #e68f1a !default;
$nerium-button-light-bg: #f0f2f3 !default;

$button-map: (
  default: (
    bg: $nerium-button-default-bg
  ),
  cta: (
    bg: $nerium-button-cta-bg
  ),
  light: (
    bg: $nerium-button-light-bg
  )
);

#{$prefix}button {
    @include button-base;
    @include button-size;
    @include button-style;

    @include single-transition(background-color);
    
    @at-root #{&}--large { 
        @include button-size($padding:$button-lrg); 
    }
    
    @at-root #{&}--small { 
        @include button-size($padding:$button-sml); 
    }
    
    @at-root #{&}--tiny { 
        @include button-size($padding:$button-tny); 
    }
    
    @at-root #{&}--expand { 
        @include button-size($padding:null, $full-width:true); 
    }
    
    @each $label, $map in $button-map {
        @at-root #{&}__#{$label} {
            @include button-style($bg: map-get($map, bg), 
                                  $bg-hover: scale-color(map-get($map, bg), $lightness: $button-function-factor), 
                                  $border-color: null);
        }
    }  
}

/*


      &.left-align  { text-align: left; text-indent: rem-calc(12); }
      &.right-align { text-align: right; padding-right: rem-calc(12); }

      &.radius { @include button-style($bg:false, $radius:true); }
      &.round  { @include button-style($bg:false, $radius:$button-round); }

      &.disabled, &[disabled] { @include button-style($bg:$button-bg-color, $disabled:true, $bg-hover:$button-bg-hover, $border-color:$button-border-color);
        &.secondary { @include button-style($bg:$secondary-button-bg-color, $disabled:true, $bg-hover:$secondary-button-bg-hover, $border-color:$secondary-button-border-color); }
        &.success { @include button-style($bg:$success-button-bg-color, $disabled:true, $bg-hover:$success-button-bg-hover, $border-color:$success-button-border-color); }
        &.alert { @include button-style($bg:$alert-button-bg-color, $disabled:true, $bg-hover:$alert-button-bg-hover, $border-color:$alert-button-border-color); }
        &.warning { @include button-style($bg:$warning-button-bg-color, $disabled:true, $bg-hover:$warning-button-bg-hover, $border-color:$warning-button-border-color); }
        &.info { @include button-style($bg:$info-button-bg-color, $disabled:true, $bg-hover:$info-button-bg-hover, $border-color:$info-button-border-color); }
      }

*/
