//List of all label types
$label-map: (
  success: (
    bg: $success-color
  ),
  alert: (
    bg: $alert-color
  ),
  secondary: (
    bg: $secondary-color
  ),
  warning: (
    bg: $warning-color
  ),
  info: (
    bg: $info-color
  )
);

#{$prefix}label {
    @include label-base;
    @include label-size;
    @include label-style;

    //Label radius state
    @at-root #{&}--radius{ 
        @include label-style(false, true);
    }
    
    //Label round state
    @at-root #{&}--round{ 
        @include label-style(false, $radius: 1000px);
    }
    
    //Create all label types
    @each $label, $map in $alert-map {
        @at-root #{&}--#{$label} {
            @include label-style(map-get($map, bg));
        }
    } 
}