#{$prefix}panel {
    @include panel;
    
    @at-root #{&}--callout {
        @include panel($callout-panel-bg);
        
        a:not(.button) {
            color: $callout-panel-link-color;

            &:hover,
            &:focus {
                color: $callout-panel-link-color-hover;
            }
        }
    }

    @at-root #{&}--radius {
        @include radius;
    }
}
